/* Enhancement */
.enhance{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 140px 0 120px 0;
}
.enhance .enhance-left .enhance-left-top-img{
padding-right: 10%;
}
.enhance .enhance-left .enhance-left-top-img img{
width: 100%;
height: 910px;
object-fit: cover;
}
.enhance .enhance-left{
padding-left: 100px;
position: relative;
}
.enhance .enhance-left .enhance-left-bottom-img{
position: absolute;
left: -12px;
bottom: 92px;
}
.enhance .enhance-left .enhance-left-bottom-img img{
border: 6px solid var(--c-white);
width: 360px;
height: 292px;
object-fit: cover;
}
.enhance .enhance-right{
padding: 55px 4px;
} 
.enhance .enhance-right .custom-paragraph{
padding-right: 72px;
}
.enhance .enhance-right .custom-paragraph p{
padding-bottom: 27px;
}
.enhance .enhance-right .enhance-right-button .custom-button{
    margin-right: 24px;
}
.enhance .enhance-right .enhance-right-button .enhance-btn{
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
}
.enhance .enhance-right .enhance-right-button .enhance-btn:hover{
color: var(--c-secondary);
background-color: var(--c-white);
}
/* contact-us */
.contact-us{
position: relative;
padding-bottom: 133px;
}
.contact-us .contact-left{
background-color: var(--c-blue-200);
padding-top: 110px;
padding-left: 300px;
width: 120%;
position: relative;
z-index: 9;
}
.contact-us .contact-left::before{
position: absolute;
content: '';
background-image: url(../images/contact-bg-pattern.png); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: -1;
}
.contact-us .contact-left .custom-heading h3{
color: var(--c-white);
margin-bottom: 98px;
padding-right: 270px;
}
.contact-us .contact-left .contact-left-bottom{
background-color: var(--c-secondary);
padding: 43px 0 15px 46px;
}
.contact-us .contact-left .contact-left-bottom ul li{
padding-bottom: 32px;
}
.contact-us .contact-left .contact-left-bottom ul li h4{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 16px;
color: var(--c-primary);
padding-bottom: 4px;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon,.contact-us .contact-left .contact-left-bottom ul li .media .media-body{
display: inline-block;
vertical-align: middle;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon{
background-color: var(--c-primary);
color: var(--c-white);
font-size: 25px;
width: 56px;
height: 56px;
margin-right: 20px;
display: inline-flex;
align-items: center;
justify-content: center;
}
.contact-us .contact-left .contact-left-bottom ul li p,.contact-us .contact-left .contact-left-bottom ul li a{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 24px;
color: var(--c-white);
line-height: 34px;
}
.contact-us .contact-right{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 100px 115px;
position: absolute;
right: 15px;
top: 0;
width: 850px;
z-index: 99;
}
.contact-us .contact-right form .form-group .form-wrap input,.contact-us .contact-right form .form-group .form-wrap textarea{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 15px;
color: var(--c-primary);
padding: 20px;
margin-bottom: 14px;
border: none;
border-radius: 0;
}
.contact-us .contact-right form .form-group .form-wrap textarea{
height:170px ;
}
.contact-us .contact-right form .form-btn .custom-button{
font-weight: 400;
/* background-color: var(--c-secondary); */
color: var(--c-primary);
border: 2px solid var(--c-secondary);
margin-top: 18px;
background-image: url(../images/button-bg.png);
background-position: center;
background-size: auto;
background-repeat: no-repeat;
}
.contact-us .contact-right form .form-btn .custom-button:hover{
color: var(--c-primary);
}
/* Footer Start */
.footer-wrap{
background-color: var(--c-primary);
padding-top: 58px;
}
.footer-wrap .column-wrap .column-heading h2{
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 700;
color: var(--c-white);
}
.footer-wrap .column-wrap .column-bottom-text{
margin-top: 45px;
}
.footer-wrap .column-col:nth-child(1) .column-wrap{
padding: 39px 90px 39px 0px;
}
.footer-wrap  .column-col:nth-child(2) .column-wrap{
padding: 39px 0px 39px 65px;
}
.footer-wrap  .column-col:nth-child(3) .column-wrap{
padding: 39px 0 39px 70px;
}
.footer-wrap .column-wrap .column-bottom-text p,.footer-wrap .column-wrap .column-bottom-text p a,.footer-wrap .column-wrap .column-bottom-text ul li a,.footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p{
font-family: var(--ff-primary);
font-size: 16px;
line-height: 26px;
font-weight: 300;
color: var(--c-white-100);
}
.footer-wrap .column-wrap .column-bottom-text p a:hover,.footer-wrap .column-wrap .column-bottom-text ul li a:hover{
color: var(--c-secondary);
}
.footer-wrap  .column-col:nth-child(2) .column-wrap .column-bottom-text p{
padding-bottom: 12px;
} 
.footer-wrap .column-wrap .column-bottom-text ul li{
padding-bottom: 18px;
position: relative;
padding-left: 29px;
}
.footer-wrap .column-wrap .column-bottom-text li span {
position: absolute;
left: 0;
display: inline-block;
color: var(--c-secondary);
font-size: 20px;
top: 3px;
}
.footer-wrap .column-col:not(:last-child) .column-wrap{
border-right: 1px solid var(--c-blue-200);
}
.footer-wrap .footer-bottom-wrap{
border-top: 1px solid var(--c-blue-200);
background-color: var(--c-primary);
text-align: center;
padding: 21px 0;
margin-top: 35px;
}
/* +++++++Contact-start++++++++ */
.address-section{
background-color: var(--c-white-100);
padding: 80px 0;
}
.address-section .left-part{
text-align: left;
}
.address-section .left-part .card-wrap .card{
height: 160px;
width: 270px;
padding: 20px;
background-color: var(--c-secondary);
text-align: center;    
box-shadow: 8px 8px var(--c-secondary-text);
border: 0;
border-radius: 10px;
}
.address-section .left-part .card-wrap .card span i{
color: var(--c-primary);
font-size: 40px;
}
.address-section .left-part .card-wrap .card .card-body{
padding: 12px 0 0;
margin: 0;
}
.address-section .custom-heading{
margin-bottom: 50px;
text-align: center;
}
.address-section .custom-heading h3{
margin-bottom: 13px;
}
.address-section .custom-heading p{
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 400;
color: var(--c-secondary-text);
line-height: 25px;
}
.address-section .left-part .card-wrap .card .card-body .card-title{
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 700;
color: var(--c-primary-text);
}
.address-section .left-part .card-wrap .card .card-body a,.address-section .left-part .card-wrap .card .card-body p{
font-size: 13px;
font-family: var(--ff-primary);
font-weight: 400;
color: var(--c-secondary-text);
line-height: 20px;
}
.address-section .img-wrap img{
width: 100%;
object-fit: cover;
height: 350px;
}
.map-section{
padding: 80px 0;
}
.map-section .map-wrap iframe{
width: 100%;
height: 430px;
border-radius: 20px;
}
.map-section .custom-heading {
text-align: center;
}
.contact-form-section .card{
padding:35px 50px;
box-shadow: 0px 0px 12px 9px rgb(161 151 151 / 15%);
border-radius: 30px;
}
.contact-form-section .contact-form-sec-left{
padding: 50px 70px;
border-radius: 40px;
background-color: #e5e7ef;
}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input,.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea{
font-size: 13px;
padding: 14px;
margin-bottom: 10px;
border: 0;
}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea{
height: 150px;
}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button{
margin-top: 15px;
}
/* +++++++Resposive-start++++++++ */

@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
/* fdev-ps */
/* footer start */	

/* fdev-ps */
}

@media (min-width: 1366px) and (max-width: 1600px){
/* fdev-ps */
/* Contact Us Inner start */

/* .address-section .left-part .card-wrap .card {width: 320px;} */

/* fdev-ps */
}
@media (min-width: 1366px) and (max-width: 1518px){
/* fdev-ps */
/* Contact Us start */
.contact-us .contact-right {width: 720px;}
.contact-us .contact-left .custom-heading h3 {padding-right: 110px;}
.contact-us .contact-left {padding-left: 210px;}
/* fdev-ps */ 
}
@media (min-width: 1200px) and (max-width: 1366px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-right {padding: 50px 0px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 15px;}
.enhance .enhance-left .enhance-left-top-img img {height: 830px;}
/* Contact Us start */
.contact-us .contact-right {padding: 60px 75px;width: 675px;}
.contact-us .contact-left {padding-top: 80px;padding-left: 220px;}
.contact-us .contact-left .contact-left-bottom {padding: 33px 0 0px 33px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 28px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 80px;padding-right: 240px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 16px;margin-bottom: 10px;}
.contact-us {padding-bottom: 80px;}
/* footer start */
/* fdev-ps */ 
}
@media (min-width: 1024px) and (max-width: 1200px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 18px;}
.enhance .enhance-right .custom-paragraph {padding-right: 22px;}
.enhance .enhance-left .enhance-left-top-img img {height: 810px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;}
/* Contact Us start */
.contact-us {padding: 80px 0;}
.contact-us .contact-left {padding-top: 70px;padding-left: 180px;width: 115%;margin: 0;}
.contact-us .contact-right {padding: 40px 50px;width: 640px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 55px;line-height: 38px;padding-right: 130px;}
.contact-us .contact-left .contact-left-bottom {padding: 26px 0 0px 26px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 21px;width: 50px;height: 50px;margin-right: 8px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 21px;line-height: 30px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 22px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 2px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 13px;padding: 15px;margin-bottom: 8px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 10px;}
/* footer start */
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 39px 40px 39px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 39px 0px 39px 34px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 39px 0 39px 30px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 14px;padding-left: 24px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 2px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 30px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 19px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;line-height: 24px;}
/* Contact Us Inner start */
.address-section .custom-heading h3 {margin-bottom: 8px;}
.address-section .custom-heading {margin-bottom: 40px;}
.address-section .left-part .card-wrap .card span i {font-size: 35px;}
.address-section .left-part .card-wrap .card .card-body {padding: 10px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 5px;}
.address-section .left-part .card-wrap .card {height: 150px;}
.address-section {padding: 70px 0;}
.map-section {padding: 70px 0;}
/* fdev-ps */
}

@media (min-width: 992px) and (max-width: 1024px) {
/* fdev-ps */
/* Enhancement Start */
.enhance {padding: 120px 0 100px 0;}
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 20px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;}
.enhance .enhance-left .enhance-left-top-img {padding-right: 8%;}
/* Contact Us start */
.contact-us {padding: 0 !important;}
.contact-us .contact-right {position: relative;width: 100%;padding: 140px 85px 70px 85px;right: 0px;margin: 2px 0;z-index: 0;}
.contact-us .contact-left {width: 100%;padding: 70px 80px 50px 80px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 70px;}
.contact-us .contact-left .contact-left-bottom {padding: 35px 0 0px 35px;margin-bottom: -140px;position: relative;z-index: 999;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 25px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {margin-right: 12px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 0px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 21px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 12px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 15px;margin-bottom: 11px;}
.contact-us .contact-right form .form-btn{text-align: center;}
/* footer start */
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 33px 30px 33px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 33px 0px 33px 25px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 33px 0 33px 20px;}
.footer-wrap .footer-bottom-wrap {margin-top: 20px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 0px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 18px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 27px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-left: 24px;padding-bottom: 10px;}
/* Contact Us Inner start */
.address-section .custom-heading h3 {margin-bottom: 8px;}
.address-section .custom-heading {margin-bottom: 35px;}
.address-section .left-part .card-wrap .card {width: 220px;padding: 18px;height: 143px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input, .contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {padding: 12px;margin-bottom: 8px;}
.contact-form-section .contact-form-sec-left {padding: 40px 50px;}
.map-section .map-wrap iframe {height: 390px;}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button {margin-top: 9px;}
.address-section .left-part .card-wrap .card span i {font-size: 35px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 4px;}
.address-section {padding: 65px 0;}
.map-section {padding: 65px 0;}
/* fdev-ps */	
}

@media only screen and (max-width: 991.98px) { 
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-left .enhance-left-top-img {padding-right: 7%;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 6px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 24px;}
.enhance .enhance-right {padding-left: 0px;text-align: center;padding-bottom: 0px;}
.enhance .enhance-right .custom-paragraph {padding-right: 0;}
.enhance .enhance-left .enhance-left-top-img img {height: 754px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 300px;height: 250px;}
.enhance .enhance-left {padding-left: 70px;}
/* Contact Us start */
.contact-us {padding: 0 !important;}
.contact-us .contact-right {position: relative;width: 100%;padding: 120px 60px 60px 60px;right: 0px;margin:2px 0;z-index: 0;}
.contact-us .contact-left {width: 100%;padding: 50px 60px 30px 60px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 50px;padding-right: 0px;line-height: 38px;}
.contact-us .contact-left .contact-left-bottom {padding: 30px 0 0 30px;position: relative;z-index: 999;
margin-bottom: -114px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 20px;line-height: 28px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 22px;width: 48px;
height: 48px;margin-right: 12px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 26px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {font-size: 15px;padding-bottom: 2px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 13px;margin-bottom: 10px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 10px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 13px;padding: 10px;margin-bottom: 9px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 8px;}
.contact-us .contact-right form .form-btn{text-align: center;}
/* footer start */
.footer-wrap {padding-top: 60px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 12px;line-height: 20px;}
.footer-wrap .column-wrap .column-heading h2 {font-size: 16px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 30px 0px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 8px;font-size: 15px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 24px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 0px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 11px;padding-left: 19px;}
/* Contact Us Inner start */
.address-section {padding: 60px 0;}
.address-section .custom-heading h3 {margin-bottom: 0px;}
.address-section .custom-heading {margin-bottom: 25px;}
.address-section .custom-heading p {font-size: 16px;line-height: 20px;}
.address-section .left-part .card-wrap .card {height: 135px;width: 210px;padding: 15px;}
.address-section .left-part .card-wrap .card span i {font-size: 30px;}
.address-section .left-part .card-wrap .card .card-body {padding: 6px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {font-size: 16px;margin-bottom: 6px;}
.address-section .left-part .card-wrap .card .card-body a, .address-section .left-part .card-wrap .card .card-body p {line-height: 18px;}
.contact-form-section .card {padding: 22px 26px;}
.contact-form-section .contact-form-sec-left {padding: 25px;border-radius: 30px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input, .contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {font-size: 12px; padding: 10px;margin-bottom: 7px;}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button {margin-top: 8px;}
.map-section .map-wrap iframe {height: 280px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {height: 135px;}
.contact-form-section .map-wrap {margin-top: 15px;}
.map-section .custom-heading h5{margin-bottom: 10px;}
.map-section .custom-heading{margin-bottom: 12px;}
.map-section {padding: 50px 0;}
/* fdev-ps */
}
@media (max-width: 767.98px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 6px;}
.enhance .enhance-right {padding-left: 0px;}
.enhance .enhance-right .custom-heading h3 {margin-bottom: 15px;line-height: 35px;}
.enhance .enhance-left {padding-left: 50px;}
.enhance .enhance-left .enhance-left-top-img img {height: 620px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 230px;height: 190px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 20px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 70px;}
.enhance .enhance-right {padding: 33px 0px;}
/* Contact Us Start */
.contact-us .contact-left .custom-heading h3 {line-height: 32px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 0px;font-size: 14px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 20px;width: 45px;
height: 45px;margin-right: 8px;}
.contact-us .contact-left .contact-left-bottom {padding: 20px 0 0 20px;margin-bottom: -103px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 17px;line-height: 22px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 20px;}
.contact-us .contact-right {padding: 100px 45px 45px 45px;}
.contact-us .contact-left {padding: 50px 50px 25px 50px;}
/* footer start */
.footer-wrap .footer-bottom-wrap {padding: 12px 0;margin-top: 15px;}
.footer-wrap .column-wrap .footer-logo img {width: 47%;}
.footer-wrap .column-col:nth-child(2) .column-wrap .column-bottom-text p {padding-bottom: 6px;}
.footer-wrap .column-wrap .column-bottom-text li span {line-height: 20px;position: relative;}
.footer-wrap .column-col:nth-child(1) .column-wrap .column-bottom-text p{padding-right: 0;}
.footer-wrap {padding-top: 35px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li  {font-size: 15px;line-height: 26px;}
.footer-wrap .column-wrap .column-heading h2 {font-size: 18px;}
.footer-wrap .footer-bottom-wrap .footer-bottom-text p{font-size: 13px;line-height: 22px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 7px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 13px 0px;text-align: center;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 17px;}
.footer-wrap .column-col:not(:last-child) .column-wrap {border-right: none;}
/* Contact Us Inner start */
.address-section .custom-heading p {font-size: 14px;}
.address-section .custom-heading {margin-bottom: 18px;}
.address-section .left-part .card-wrap .card {width: 380px;}
.address-section .left-part .card-wrap .card span i {font-size: 28px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 40px 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 4px;}
.address-section .left-part .card-wrap .card .card-body a, .address-section .left-part .card-wrap .card .card-body p {font-size: 12px;}
/* Contact Us Inner start */
.address-section {padding: 50px 0;}
.contact-form-section .card {padding: 15px 20px;}
.contact-form-section .map-wrap {margin-top: 6px;}
.map-section .map-wrap iframe {height: 220px;}
.address-section .left-part .card-gap{margin-top: 20px;}
.map-section {padding: 40px 0;}
.map-section .custom-heading h5 {margin-bottom: 7px;}
.map-section .custom-heading {margin-bottom: 7px;}
/* fdev-ps */  
}

@media (max-width: 575.98px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-left .enhance-left-top-img img {height: 340px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 150px;height: 120px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 35px;}
.enhance .enhance-left {padding-left: 30px;}
.enhance .enhance-right .custom-heading h3 {margin-bottom: 20px;line-height: 27px;font-size: 23px;}
.enhance .enhance-right .custom-heading h5 {font-size: 14px;}
.enhance .enhance-right .custom-paragraph {padding-right: 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 14px;}
.enhance .enhance-right .enhance-right-button .first-btn {padding: 14px 46px;margin-bottom: 8px;}
/* Contact Us Start*/
.contact-us .contact-right {padding: 75px 18px 22px 18px;}
.contact-us .contact-right form .form-group .form-wrap textarea{height: 120px;}
.contact-us .contact-left {padding: 30px 30px 15px 30px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 22px; }
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 16px;width: 35px;
height: 35px;margin-right: 4px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 14px;line-height: 21px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {font-size: 12px;}
.contact-us .contact-left .contact-left-bottom {padding: 15px 0 0 15px;margin-bottom: -70px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 15px;}
/* footer start */
.footer-wrap {padding-top: 30px;}
.footer-wrap .column-col:nth-child(1) .column-wrap, .footer-wrap .column-col:nth-child(2) .column-wrap, .footer-wrap .column-col:nth-child(3) .column-wrap {padding: 7px 0px;}
.footer-wrap .column-wrap .footer-logo img {width: 70%;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 15px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li {
line-height: 22px;}
.footer-wrap .column-wrap .column-bottom-text li span {line-height: 15px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 8px;}
/* Contact Us Inner start */
.address-section {padding: 35px 0;}
.contact-form-section .contact-form-sec-left {padding: 18px;border-radius: 25px;}
.address-section .left-part .card-wrap .card {width: 260px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 0px 0;}
.map-section .map-wrap iframe {height: 165px;}
.address-section .custom-heading p {font-size: 13px;line-height: 16px;}
.map-section .custom-heading {margin-bottom: 0px;}
.map-section {padding: 30px 0;}
/* fdev-ps */  
}

@media only screen and (max-width: 480.98px) {	
    
}

