/* Enhancement */
.enhance{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 140px 0 120px 0;
}
.enhance .enhance-left .enhance-left-top-img{
    padding-right: 10%;
}
.enhance .enhance-left .enhance-left-top-img img{
width: 100%;
height: 910px;
object-fit: cover;
}
.enhance .enhance-left{
padding-left: 100px;
position: relative;
}
.enhance .enhance-left .enhance-left-bottom-img{
position: absolute;
left: -12px;
bottom: 92px;
}
.enhance .enhance-left .enhance-left-bottom-img img{
border: 6px solid var(--c-white);
width: 360px;
height: 292px;
object-fit: cover;
}
.enhance .enhance-right{
padding: 55px 4px;
} 
.enhance .enhance-right .custom-paragraph{
padding-right: 72px;
}
.enhance .enhance-right .custom-paragraph p{
padding-bottom: 27px;
}
.enhance .enhance-right .enhance-right-button .custom-button{
    margin-right: 24px;
}
.enhance .enhance-right .enhance-right-button .enhance-btn{
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
}
.enhance .enhance-right .enhance-right-button .enhance-btn:hover{
color: var(--c-secondary);
background-color: var(--c-white);
}
/* contact-us */
.contact-us{
position: relative;
padding-bottom: 133px;
}
.contact-us .contact-left{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 110px;
padding-left: 300px;
width: 1062px;
position: relative;
}
.contact-us .contact-left::before{
position: absolute;
content: '';
background-image: url(../images/contact-bg-pattern.png); 
left: 0;
top: 0;
z-index: -1;
}
.contact-us .contact-left .custom-heading h3{
color: var(--c-white);
margin-bottom: 98px;
padding-right: 55px;
}
.contact-us .contact-left .contact-left-bottom{
background-color: var(--c-secondary);
padding: 43px 0 15px 46px;
}
.contact-us .contact-left .contact-left-bottom ul li{
padding-bottom: 32px;
}
.contact-us .contact-left .contact-left-bottom ul li h4{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 16px;
color: var(--c-primary);
padding-bottom: 4px;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon,.contact-us .contact-left .contact-left-bottom ul li .media .media-body{
    display: inline-block;
    vertical-align: middle;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon{
background-color: var(--c-primary);
color: var(--c-white);
font-size: 25px;
width: 56px;
height: 56px;
margin-right: 20px;
display: inline-flex;
align-items: center;
justify-content: center;
}
.contact-us .contact-left .contact-left-bottom ul li p,.contact-us .contact-left .contact-left-bottom ul li a{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 24px;
color: var(--c-white);
line-height: 34px;
}
.contact-us .contact-right{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 100px 115px;
position: absolute;
right: 15px;
top: 0;
width: 850px;
}
.contact-us .contact-right form .form-group .form-wrap input,.contact-us .contact-right form .form-group .form-wrap textarea{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 15px;
color: var(--c-primary);
padding: 20px;
margin-bottom: 14px;
border: none;
border-radius: 0;
}
.contact-us .contact-right form .form-group .form-wrap textarea{
height:170px ;
}
.contact-us .contact-right form .form-btn .custom-button{
font-weight: 400;
/* background-color: var(--c-secondary); */
color: var(--c-primary);
border: 2px solid var(--c-secondary);
margin-top: 18px;
background-image: url(../images/button-bg.png);
background-position: center;
background-size: auto;
background-repeat: no-repeat;
}
.contact-us .contact-right form .form-btn .custom-button:hover{
color: var(--c-primary);
border: 2px solid var(--c-primary);
}
/* Footer Start */
.footer-wrap{
background-color: var(--c-primary);
padding-top: 58px;
}
.footer-wrap .column-wrap .column-heading h2{
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 700;
color: var(--c-white);
}
.footer-wrap .column-wrap .column-bottom-text{
margin-top: 45px;
}
/* .footer-wrap .column-wrap {
padding: 39px 70px 39px 0;
} */
.footer-wrap .column-col:nth-child(1) .column-wrap{
    padding: 39px 90px 39px 0px;
}
.footer-wrap  .column-col:nth-child(2) .column-wrap{
    padding: 39px 0px 39px 65px;
}
.footer-wrap  .column-col:nth-child(3) .column-wrap{
    padding: 39px 0 39px 70px;
}
.footer-wrap .column-wrap .column-bottom-text p,.footer-wrap .column-wrap .column-bottom-text p a,.footer-wrap .column-wrap .column-bottom-text ul li a,.footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p{
font-family: var(--ff-primary);
font-size: 16px;
line-height: 26px;
font-weight: 300;
color: var(--c-white-100);
}
.footer-wrap .column-wrap .column-bottom-text p a:hover,.footer-wrap .column-wrap .column-bottom-text ul li a:hover{
color: var(--c-secondary);
}
.footer-wrap  .column-col:nth-child(2) .column-wrap .column-bottom-text p{
padding-bottom: 12px;
} 
.footer-wrap .column-wrap .column-bottom-text ul li{
    padding-bottom: 18px;
    position: relative;
    padding-left: 29px;
}
.footer-wrap .column-wrap .column-bottom-text li span {
    position: absolute;
    left: 0;
    display: inline-block;
    color: var(--c-secondary);
    font-size: 20px;
    top: 3px;
  }
.footer-wrap .column-col:not(:last-child) .column-wrap{
border-right: 1px solid var(--c-blue-200);
}
.footer-wrap .footer-bottom-wrap{
border-top: 1px solid var(--c-blue-200);
background-color: var(--c-primary);
text-align: center;
padding: 21px 0;
margin-top: 35px;
}
/* +++++++Resposive-start++++++++ */

@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
/* fdev-ps */
/* footer start */	

/* fdev-ps */
}

@media (min-width: 1200px) and (max-width: 1600px){
/* fdev-ps */
/* Enhancement Start */
/* footer start */
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 39px 30px 39px 0px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 39px 0 39px 53px;}

/* fdev-ps */
}

@media (min-width: 1024px) and (max-width: 1200px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 18px;}
.enhance .enhance-right .custom-paragraph {padding-right: 22px;}
.enhance .enhance-left .enhance-left-top-img img {height: 860px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;}
/* footer start */
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 39px 15px 39px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 39px 0px 39px 34px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 39px 0 39px 30px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 14px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 30px;}
.footer-wrap .column-wrap .footer-logo img {width: 90%;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 20px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;line-height: 24px;}
/* fdev-ps */
}

@media (min-width: 992px) and (max-width: 1024px) {
/* fdev-ps */
/* Enhancement Start */
.enhance {padding: 120px 0 100px 0;}
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 20px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;}
.enhance .enhance-left .enhance-left-top-img {padding-right: 8%;}
/* footer start */
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 39px 4px 39px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 39px 0px 39px 25px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 39px 0 39px 20px;}
.footer-wrap .footer-bottom-wrap {margin-top: 20px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 18px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 30px;}
/* fdev-ps */	
}

@media only screen and (max-width: 991.98px) { 
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 6px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 24px;}
.enhance .enhance-right {padding-left: 15px;}
.enhance .enhance-left .enhance-left-top-img img {height: 754px;width: 100%;}
.enhance .enhance-left {padding-left: 30px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 219px;height: 190px;}
/* Contact Us start */
.contact-us .contact-left {padding-top: 32px;padding-left: 80px;width: 550px;margin-left: 0;}
.contact-us .contact-left .contact-left-bottom {padding: 20px;}
.contact-us .contact-right {padding: 30px;right: 15px;width: 362px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 18px;padding: 6px 12px;
margin-right: 8px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {font-size: 14px;padding-bottom: 0px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 20px;line-height: 30px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 13px;padding: 15px;margin-bottom: 10px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 10px;}
/* footer start */
.footer-wrap {padding-top: 60px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 12px;line-height: 20px;}
.footer-wrap .column-wrap .column-heading h2 {font-size: 16px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 30px 0px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 8px;font-size: 15px;}
.footer-wrap .second-col .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text ul li { padding-bottom: 10px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 24px;}
/* fdev-ps */
}
@media (max-width: 767.98px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 10px;}
.enhance .enhance-right {padding-left: 0px;}
.enhance .enhance-right .custom-heading h3 {margin-bottom: 15px;}
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-left .enhance-left-top-img img {height: 620px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 260px;height: 220px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 70px;}
/* Contact Us Start */
/* footer start */
.footer-wrap .footer-bottom-wrap {padding: 12px 0;margin-top: 15px;}
.footer-wrap .column-wrap .footer-logo img {width: 50%;}
.footer-wrap .column-col:nth-child(2) .column-wrap .column-bottom-text p {padding-bottom: 8px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 0px;}
.footer-wrap .column-wrap .column-bottom-text p{padding-right: 100px;}
.footer-wrap {padding-top: 40px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 15px 0px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 15px;}
.footer-wrap .column-col:not(:last-child) .column-wrap {border-right: none;}
/* fdev-ps */  
}

@media (max-width: 575.98px){
/* fdev-ps */
/* Enhancement Start */
.enhance .enhance-left .enhance-left-top-img img {height: 320px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 150px;height: 120px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 35px;}
.enhance .enhance-left {padding-left: 40px;}
.enhance .enhance-right .custom-heading h3 {font-size: 19px;line-height: 26px;margin-bottom: 10px;}
.enhance .enhance-right .custom-heading h5 {font-size: 14px;}
.enhance .enhance-right .custom-paragraph {padding-right: 0px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-bottom: 5px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 10px;}
/* Contact Us Start*/
/* footer start */
.footer-wrap {padding-top: 30px;}
footer-wrap .column-col:nth-child(1) .column-wrap, .footer-wrap .column-col:nth-child(2) .column-wrap, .footer-wrap .column-col:nth-child(3) .column-wrap {padding: 7px 0px;}
footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, .footer-wrap .footer-bottom-wrap .footer-bottom-text p {line-height: 18px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
footer-wrap .column-wrap .column-bottom-text {margin-top: 12px;}
.footer-wrap .column-wrap .column-bottom-text p {padding-right: 22px;}
.footer-wrap .second-col .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text ul li {    padding-bottom: 7px;}
/* fdev-ps */  
}

@media only screen and (max-width: 480.98px) {	
    
}

