/* BEFORE AFTER SECTION */
.custom-bef-aft {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.custom-bef-aft-content .container {
  max-width: 1642px;
}
.cus-hide {
  display: none !important;
}
.custom-bef-aft-content .gallery-img-box {
  background-color: var(--c-black-700);
  text-align: center;
  height: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-a-btn {
  background-color: var(--c-white);
  color: var(--c-primary);
  border-color: var(--c-white);
}
.gallery-a-btn:hover {
  color: var(--c-primary);
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
}
.gal-img-btn-yn .custom-button:hover {
  border-color: var(--c-white);
}
.custom-bef-aft-content [class*="col-"]:nth-child(2n) {
  padding: 30px 15px 30px 30px;
}
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1) {
  padding: 30px 30px 30px 15px;
}
.gallery-image img {
  height: 356px;
  object-fit: cover;
  width: 100%;
}
.gal-img-heading {
  color: var(--c-secondary);
}
.yes-no .gal-img-heading {
  color: var(--c-secondary-text);
}
.gal-img-heading h5 {
  font-family: var(--ff-primary);
  font-size: 26px;
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 30px;
}
.gal-age-text p {
  color: var(--c-white);
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.custom-bef-aft-button .custom-button {
  background-color: var(--c-secondary);
  color: var(--c-primary);
  border-color: var(--c-secondary);
}
.custom-bef-aft-button .custom-button:hover {
  background-color: transparent;
  color: var(--c-secondary);
}
.custom-bef-aft-button {
  margin-top: 70px;
}
/* BEFORE AFTER SECTION */
/* INNER BEFORE & AFTER PAGE */
.custom-bef-aft-inner-content .container {
  max-width: 1440px;
}
/* INNER BEFORE & AFTER PAGE */


@media (min-width: 1920px) and (max-width: 2500px){}

@media (min-width: 1600px) and (max-width: 1920px){}

@media (min-width: 1200px) and (max-width: 1600px){}

@media (min-width: 1024px) and (max-width: 1200px){
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1) {padding: 18px 18px 18px 15px;}
.custom-bef-aft-content [class*="col-"]:nth-child(2n) {padding: 18px 15px 18px 18px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
/*  */
.custom-pad {padding: 80px 0;}
/*  */
.custom-bef-aft .custom-heading h3 {margin-bottom: 29px;}
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1) {padding: 15px;}
.custom-bef-aft-content [class*="col-"]:nth-child(2n) {padding: 15px;}
.gal-img-heading h5 {font-size: 24px;padding-bottom: 27px;}
.custom-bef-aft-button {margin-top: 40px;}
}

@media only screen and (max-width: 991.98px) { 
/* fdev-sb */
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1), .custom-bef-aft-content [class*="col-"]:nth-child(2n) {padding: 15px 15px;}
.custom-bef-aft-content .gallery-img-box {height: 400px;}
.gallery-image img {height: 400px;}
.gal-img-heading h5 {font-size: 22px;padding-bottom: 25px;}
.gal-age-text p {padding-bottom: 27px;font-size: 16px;}
.custom-bef-aft-button {margin-top: 30px;}
/* fdev-sb */
}

@media (max-width: 767.98px){
/* fdev-sb */
.custom-bef-aft-content .gallery-img-box, .gallery-image img {height: 350px;}
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1), .custom-bef-aft-content [class*="col-"]:nth-child(2n) {padding: 20px 15px 0;}
}

@media (max-width: 575.98px){
/* fdev-sb */
.custom-bef-aft-content .gallery-img-box, .gallery-image img {height: 260px;}
.gal-img-heading h5 {font-size: 18px;padding-bottom: 15px;line-height: 24px;}
.gal-age-text p {padding-bottom: 20px;font-size: 14px;}
/* fdev-sb */
}
