/*header-start-supriyo*/
.header-left ul li {
    display: inline-block;
    padding: 0 30px 0px 0px;
    vertical-align: middle;
    position: relative;
  }
  .header-left ul li::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 25px;
    background-color: #dbdbdb;
    bottom: 0px;
    right: 14px;
  }
  .header-left ul li a {
    text-decoration: none;
    font-size: 17px;
    color: var(--c-tertiary-text);
  }
  .header-left ul li a span {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
  }

  

/*header-end-supriyo*/