/*about-start*/

.about-specialist {
  padding: 140px 0 115px 0;
  position: relative;
  overflow: hidden;
}
.about-specialist::before {
  position: absolute;
  content: '';
  background-color: #f5f6fa;
  width: 100%;
  height: 506px;
  z-index: -1;
  left: 0;
  bottom: 14px;
}

.about-specialist .specialist-content-wrap {
  margin-right: 257px;
}

.about-specialist .demo1 {
  padding: 35px 0;
}
.about-specialist .demo2 {
  padding-bottom: 25px;
}
.about-specialist .demo1 {
    padding-bottom: 35px;
  }

.about-specialist .custom-button-wrap {
    display: inline-flex;
    padding-top: 60px;
  }

.about-specialist .about-button-lst .custom-button{
    background-color: var(--c-secondary);
    color: var(--c-primary);
    border: 2px solid var(--c-secondary);
}

.about-specialist .about-button-lst .custom-button:hover{
    background-color: var(--c-white);
    color: var(--c-secondary);
}

.about-specialist .about-button-lst {
    padding-left: 20px;
  }

.about-specialist .specialist-image-wrap img {
    width: 100%;
  }
  .specialist-image-wrap {
    position: absolute;
    top: 0;
    right: 0;
  }

/*about-end*/

/*atlanta-start*/
.atlanta {
    text-align: center;
  }
.atlanta .custom-paragraph p{
    padding: 0 126px;
}
.atlanta .atlanta-box {
  position: relative;
  box-shadow: 1px 1px 40px #bebebe;
  z-index: 1;
}
.atlanta .atlanta-box::after {
  position: absolute;
  content: '';
  border: 2px solid var(--c-primary);
  z-index: -1;
  width: 90%;
  height: 90%;
  left: 22px;
  top: 22px;
}
.atlanta .atlanta-box-wrap {
  padding: 60px 5px 0 5px;
}
.atlanta .custom-heading .atlanta-sub-heading{
  font-size: 23px;
  font-weight: 400;
  color: var(--c-primary-text);
  line-height: 36px;
  margin-bottom: 0;
}
.atlanta .custom-heading .atlanta-heading{
  font-size: 53px;
  font-weight: 900;
  color: var(--c-secondary);
  line-height: 36px;
  padding: 35px 0 40px 0;
  margin-bottom: 0
}

.atlanta .atlanta-box-content-wrap .custom-paragraph .atlanta-para {
  padding: 0;
}

.atlanta .custom-button{
  background-color: var(--c-secondary);
  color: var(--c-primary);
  padding: 28px 37px;
  border: 2px solid var(--c-secondary);
  margin-top: 35px;
}
.atlanta .custom-button:hover{
  color: var(--c-secondary);
  background-color: var(--c-white);
}
.atlanta .atlanta-box-content-wrap {
  padding: 70px;
}

.atlanta .container-fluid{
  max-width: 1642px;
}
/*atlanta-end*/
/*testimonial-start*/
.testimonial {
  text-align: center;
}
.testimonial .container-fluid{
  max-width: 1642px;
}
.testimonial .custom-heading h3{
  line-height: 64px;
  margin-bottom: 75px;
}
.testimonial .owl-dots {
  text-align: center;
  padding-top: 50px;
}
.testimonial .owl-dots button.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: var(--c-primary-text);
  margin: 0 6px;
}
.testimonial .owl-dots button.owl-dot.active {
  background-color: var(--c-secondary);
}
.testimonial .owl-dots button.owl-dot:focus {
  outline: none;
}
.testimonial .owl-nav{display: none;}
/*testimonial-end*/

/*responsive-start-Deep*/
@media (min-width:1366px) and (max-width:1600px){

}

@media (min-width:1200px) and (max-width:1366px){
  
}

@media (min-width:1024px) and (max-width:1200px){
  
}

@media (min-width:992px) and (max-width:1024px){
  
}

@media only screen and (max-width:991.98px){

}

@media only screen and (max-width:767.98px){
  
}

@media only screen and (max-width:575.98px){
  
}
/*responsive-start-Deep*/