@charset "utf-8";
/* CSS Document */


@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1200px) and (max-width: 1600px){
.custom-button {padding: 20px 30px;font-size: 13px;}
.custom-heading h5 {font-size: 18px;margin-bottom: 20px;}
.custom-heading h3 {font-size: 40px;line-height: 46px;}
.custom-inner-banner {padding: 210px 0 70px 0;}
.inner-banner-content h1 {font-size: 55px;}
}

@media (min-width: 1200px) and (max-width: 1366px){
    .custom-paragraph p {font-size: 17px;line-height: 29px;}
}

@media (min-width: 1024px) and (max-width: 1200px){
.custom-button {padding: 18px 26px;font-size: 13px;}
.custom-button span {font-size: 13px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 16px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.inner-banner-content h1 {font-size: 48px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.custom-paragraph p {font-size: 17px;line-height: 28px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
.custom-button {padding: 16px 24px;font-size: 13px;}
.custom-button span {font-size: 12px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 16px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.inner-banner-content h1 {font-size: 48px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.custom-paragraph p {font-size: 16px;line-height: 27px;}
}

@media only screen and (max-width: 991.98px) { 
.custom-pad {padding: 80px 0;}   
.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
.custom-button {padding: 20px 30px;font-size: 15px;}
.custom-button span {font-size: 12px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 16px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;}
.custom-paragraph p {font-size: 14px;line-height: 20px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.inner-banner-content h1 {font-size: 48px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.custom-paragraph p {font-size: 16px;line-height: 26px;}
}

@media (max-width: 767.98px){
.custom-button {padding: 14px 22px;font-size: 12px;}
.custom-heading h3 {font-size: 25px;line-height: 40px;}
.inner-banner-content h1 {font-size: 38px;}
.inner-banner-text .breadcrumb-item {width: 44%;}
.inner-banner-text .breadcrumb-item.active {width: 56%;}
.inner-banner-text .breadcrumb-item a {font-size: 17px;}
.inner-banner-text .breadcrumb-item.active {font-size: 17px;}
.custom-inner-banner {padding: 160px 0 60px 0;}
}

@media (max-width: 575.98px){
.custom-pad {padding: 60px 0;}   
.custom-heading h3 {font-size: 30px;}
.custom-paragraph p {font-size: 15px;line-height: 22px;}
}

@media (max-width: 575.98px){
.custom-pad {padding: 30px 0;} 
}

@media only screen and (max-width: 480.98px) {	
.custom-heading h3 {font-size: 26px;line-height: 38px;}
.inner-banner-content h1 {font-size: 32px;}
.inner-banner-text .breadcrumb-item a {font-size: 15px;}
.inner-banner-text .breadcrumb-item.active {font-size: 15px;}
.inner-banner-text .breadcrumb-item {width: 41%;}
.inner-banner-text .breadcrumb-item.active {width: 59%;}
.custom-inner-banner {padding: 140px 0 40px 0;}
}

