@charset "utf-8";
/* CSS Document */


@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){

}
@media (min-width: 1750px) and (max-width: 1850px){
/* fdev-sg */
.main-banner .carousel-caption {left: 20px;bottom: 150px;}
/* fdev-sg */
}
@media (min-width: 1600px) and (max-width: 1750px){
/* fdev-sg */
.main-banner .carousel-caption {left: 20px;bottom: 115px;}
.main-banner .carousel-caption h1 {font-size: 65px;line-height: 78px;}
.main-banner .carousel-caption p {font-size: 20px;line-height: 38px;}
.performed-section-heading .custom-paragraph p {padding: 40px 0 65px 0;}
.box-text {padding-left: 30px;}
.performed-section.custom-pad {padding: 90px 0;}
.male-enhancement.custom-pad {padding: 167px 0 280px 0;}
.male-enhancement-img::after {width: 80%;}
/* fdev-sg */
}
@media (min-width: 1366px) and (max-width: 1600px){
/* fdev-sg */
.main-banner .carousel-caption {left: 40px;bottom: 100px;}
.main-banner .carousel-caption h1 {font-size: 55px;line-height: 70px;}
.main-banner .carousel-caption p {font-size: 18px;line-height: 35px;margin-top: 15px;}
.performed-section-heading .custom-paragraph p {padding: 40px 0 65px 0;}
.box-text {padding: 30px 25px 20px;}
.performed-section.custom-pad {padding: 80px 0;}
.male-enhancement.custom-pad {padding: 127px 0 230px 0;}
.male-enhancement-img::after {width: 80%;height: 96%;}
.header-left ul li a span {font-size: 18px;top: -3px;}
.header-left ul li {padding: 0 18px 0px 0px;}
.header-left ul li::after {right: 6px;height: 54px;bottom: -12px;}
.header-right a span {font-size: 18px;}
.header-left ul li:last-child {padding: 0 0px 0px 0px;}
.banner-button {margin-top: 30px;}
.top-header {padding: 12px 0px;}
.box-text h3 {font-size: 24px;}
.header-right a span {top: -3px;right: 35%;}
.box-text .custom-paragraph p {font-size: 16px;margin-top: 25px;}
.male-enhancement-img img {width: 80%;}
.male-enhancement-content .custom-paragraph p {padding: 15px 0;font-size: 15px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 15px;}
.info-img::after {height: 99%;}
.about-contact-content h2 {font-size: 48px;}
.about-contact.custom-pad {padding: 80px 0;}
.facilities.custom-pad {padding: 80px 0;}
.info-content {padding: 0 50px 0 0;}
.service-info-img::after {height: 99%;}
.inner-service-img img {width: 80%;}
.inner-service-right::after {width: 80%;top: -30px;left: 35px;}
.inner-service.custom-pad {padding: 120px 0 110px 0;}
/* fdev-sg */
}
@media (min-width: 1366px) and (max-width: 1518px){
/* fdev-ps */
.contact-us .contact-right {width: 720px;}
.contact-us .contact-left .custom-heading h3 {padding-right: 110px;}
.contact-us .contact-left {padding-left: 210px;}
/* fdev-ps */ 
}
@media (min-width: 1200px) and (max-width: 1366px){
.custom-paragraph p {font-size: 17px;line-height: 29px;}
.container {max-width: 1170px;}
/* fdev-sg */
.main-banner .carousel-caption {left: 75px;bottom: 90px;}
.main-banner .carousel-caption h1 {font-size: 45px;line-height: 60px;}
.main-banner .carousel-caption p {font-size: 16px;line-height: 30px;margin-top: 15px;}
.performed-section-heading .custom-paragraph p {padding: 30px 0 55px 0;}
.box-text {padding: 30px 25px 20px;}
.performed-section.custom-pad {padding: 70px 0;}
.male-enhancement.custom-pad {padding: 107px 0 210px 0;}
.male-enhancement-img::after {width: 80%;height: 95%;top: 0px;}
.header-left ul li a span {font-size: 16px;top: -6px;}
.header-left ul li {padding: 0 18px 0px 0px;}
.header-left ul li::after {right: 6px;height: 56px;bottom: -14px;}
.header-right a span {font-size: 16px;right: 30%;}
.header-right a h5 {font-size:12px;padding-left: 20px;}
.header-left ul li:last-child {padding: 0 0px 0px 0px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 14px;}
.custom-header .navbar-expand-lg .nav-item {padding: 0px 16px;}
.custom-header .navbar-brand.ms-0.py-0 img {width: 250px;}
.header-left ul li a h5 {font-size: 12px;}
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 30px 0px !important;}
.banner-button {margin-top: 30px;}
.top-header {padding: 12px 0px;}
.box-text h3 {font-size: 20px;}
.box-text .custom-paragraph p {font-size: 12px;margin-top: 15px;line-height: 25px;}
.male-enhancement-img img {width: 80%;}
.male-enhancement-content .custom-paragraph p {padding: 10px 0;font-size: 13px;}
.performed-button {margin-top: 50px;}
.male-enhancement-1 {margin-top: 25px;}
.info-img::after {height: 99%;}
.about-contact-content h2 {font-size: 44px;}
.about-us-info.custom-pad {padding: 80px 0;}
.content-box ul li {font-size: 16px;}
.about-contact.custom-pad {padding: 80px 0;}
.facilities.custom-pad {padding: 80px 0;}
.info-content {padding: 0 40px 0 0;}
.facilities-content .accordion-body {font-size: 17px;}
.service-info-img::after {height: 99%;}
.inner-service-img img {width: 80%;}
.inner-service-right::after {width: 80%;top: -30px;left: 30px;}
.inner-service.custom-pad {padding: 100px 0 90px 0;}
.inner-service-content {padding-left: 10px;}
.atlanta .atlanta-paragraph p {min-height: 102px;}
/* fdev-sg */
/* fdev-ps */ 
.enhance .enhance-right {padding: 50px 0px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 15px;}
.enhance .enhance-left .enhance-left-top-img img {height: 830px;} 
.contact-us .contact-right {padding: 60px 75px;width: 675px;}
.contact-us .contact-left {padding-top: 80px;padding-left: 220px;}
.contact-us .contact-left .contact-left-bottom {padding: 33px 0 0px 33px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 28px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 80px;padding-right: 240px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 16px;margin-bottom: 10px;}
.contact-us {padding-bottom: 80px;}
.contact-us .contact-right form .form-btn .custom-button {padding-right: 32px;} 
/* fdev-ps */ 
}
@media (min-width: 1200px) and (max-width: 1600px){
.custom-button {padding: 20px 30px;font-size: 13px;}
.custom-heading h5 {font-size: 18px;margin-bottom: 20px;}
.custom-heading h3 {font-size: 40px;line-height: 46px;}
.custom-inner-banner {padding: 210px 0 70px 0;}
.inner-banner-content h1 {font-size: 55px;}
.custom-pad {padding: 100px 0;}
}
@media (min-width: 1025px) and (max-width: 1199.98px){
/* fdev-ps */
.contact-us .contact-left {width: 60% !important;padding-left: 82px !important;}
/* fdev-ps */
}
@media (min-width: 1024px) and (max-width: 1200px){
.custom-button {padding: 18px 26px;font-size: 13px;}
.custom-button span {font-size: 13px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 16px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.inner-banner-content h1 {font-size: 48px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.custom-paragraph p {font-size: 17px;line-height: 28px;}
.custom-pad {padding: 90px 0;}
/* fdev-sg */
.main-banner .carousel-caption {left: 105px;bottom: 80px;}
.main-banner .carousel-caption h1 {font-size: 40px;line-height: 50px;}
.main-banner .carousel-caption p {font-size: 16px;line-height: 30px;margin-top: 15px;}
.performed-section-heading .custom-paragraph p {padding: 30px 0 55px 0;}
.box-text {padding: 35px 15px 20px;}
.performed-section.custom-pad {padding: 70px 0;}
.male-enhancement.custom-pad {padding: 77px 0 170px 0;}
.male-enhancement-img::after {width: 81%;height: 94%;top: 0px;}
.header-left ul li a span {font-size: 16px;top: -6px;}
.header-left ul li {padding: 0 18px 0px 0px;}
.header-left ul li::after {right: 6px;height: 35px;bottom: -7px;}
.header-right a span {font-size: 14px;margin-left: 0px;top: -4px;right: 36%;}
.header-right a h5 {font-size:12px;padding-left: 15px;}
.header-left ul li:last-child {padding: 0 0px 0px 0px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;}
.custom-header .navbar-expand-lg .nav-item {padding: 0px 10px;}
.custom-header .navbar-brand.ms-0.py-0 img {width: 220px;}
.header-left ul li a h5 {font-size: 12px;margin-left: 20px;}
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 20px 0px !important;}
.banner-button {margin-top: 26px;}
.top-header {padding: 6px 0px;}
.box-text h3 {font-size: 20px;}
.box-text .custom-paragraph p {font-size: 12px;margin-top: 15px;line-height: 25px;}
.male-enhancement-img img {width: 80%;}
.male-enhancement-content .custom-paragraph p {padding: 6px 0;font-size: 13px;}
.performed-button {margin-top: 50px;}
.male-enhancement-1 {margin-top: 25px;}
.info-img::after {height: 99%;}
.about-contact-content h2 {font-size: 38px;}
.about-us-info.custom-pad {padding: 80px 0;}
.content-box ul li {font-size: 16px;}
.about-contact.custom-pad {padding: 70px 0;}
.facilities.custom-pad {padding: 70px 0;}
.info-content .custom-paragraph p {padding: 8px 0;}
.facilities-content {margin-top: 10px;}
.content-box {padding: 30px 30px;}
.info-content {padding: 0 30px 0 0;}
.facilities-content .accordion-body {font-size: 17px;}
.service-info-img::after {height: 99%;}
.inner-service-img img {width: 80%;}
.inner-service-right::after {width: 80%;top: -30px;left: 20px;}
.inner-service.custom-pad {padding: 80px 0 80px 0;}
.inner-service-content {padding-left: 10px;}
.what-we-do-box-content h4 {font-size: 22px;}
.review-list {text-align: center;}
.review-list-content {padding-top: 20px;padding-left: 0;}
.expert-content .custom-paragraph p {text-align: center;}
.inner-page-testimonial-carousel .testimonial.custom-pad {padding: 0 0 80px 0;}
/* fdev-sg */
/* fdev-ps */ 
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 18px;}
.enhance .enhance-right .custom-paragraph {padding-right: 22px;}
.enhance .enhance-left .enhance-left-top-img img {height: 810px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;} 
.contact-us {padding: 80px 0;}
.contact-us .contact-left {padding-top: 70px;padding-left: 180px;width: 115%;margin: 0;}
.contact-us .contact-right {padding: 40px 50px;width: 640px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 55px;line-height: 38px;padding-right: 130px;}
.contact-us .contact-left .contact-left-bottom {padding: 26px 0 0px 26px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 21px;width: 50px;height: 50px;margin-right: 8px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 21px;line-height: 30px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 22px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 2px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 13px;padding: 15px;margin-bottom: 8px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 10px;padding-right: 32px;}
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 39px 40px 39px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 39px 0px 39px 34px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 39px 0 39px 30px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 14px;padding-left: 24px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 2px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 30px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 19px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;line-height: 24px;}
.address-section .custom-heading h3 {margin-bottom: 8px;}
.address-section .custom-heading {margin-bottom: 40px;}
.address-section .left-part .card-wrap .card span i {font-size: 35px;}
.address-section .left-part .card-wrap .card .card-body {padding: 10px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 5px;}
.address-section .left-part .card-wrap .card {height: 150px;}
.address-section {padding: 70px 0;}
.contact-form-section .contact-from-right-img-wrap img {height: 418px;}
/* fdev-ps */
}

@media (min-width: 992px) and (max-width: 1024px) {
.custom-button {padding: 16px 24px;font-size: 13px;}
.custom-button span {font-size: 12px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 16px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;margin-bottom: 20px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.inner-banner-content h1 {font-size: 48px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.custom-paragraph p {font-size: 16px;line-height: 27px;}
.custom-pad {padding: 80px 0;}
/* fdev-sg */
.main-banner .carousel-caption {left: 105px;bottom: 70px;}
.main-banner .carousel-caption h1 {font-size: 40px;line-height: 50px;}
.main-banner .carousel-caption p {font-size: 16px;line-height: 30px;margin-top: 15px;}
.performed-section-heading .custom-paragraph p {padding: 25px 0 45px 0;font-size: 16px;}
.box-text {padding: 35px 15px 20px;}
.performed-section.custom-pad {padding: 60px 0;}
.male-enhancement.custom-pad {padding: 77px 0 170px 0;}
.male-enhancement-img::after {width: 81%;height: 94%;left: 20px;top: 0px;}
.header-left ul li a span {font-size: 14px;top: -4px;}
.header-left ul li {padding: 0 6px 0px 0px;}
.header-left ul li::after {right: 0px;height: 35px;bottom: -7px;}
.header-right a span {font-size: 14px;margin-left: 0px;top: -4px;right: 37%;}
.header-right a h5 {font-size:12px;padding-left: 15px;}
.header-left ul li:last-child {padding: 0 0px 0px 0px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;}
.custom-header .navbar-expand-lg .nav-item {padding: 0px 8px;}
.custom-header .navbar-brand.ms-0.py-0 img {width: 220px;}
.header-left ul li a h5 {font-size: 12px;margin-left: 16px;}
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 20px 0px !important;}
.banner-button {margin-top: 26px;}
.top-header {padding: 6px 0px;}
.box-text h3 {font-size: 20px;}
.box-text .custom-paragraph p {font-size: 12px;margin-top: 15px;line-height: 25px;}
.male-enhancement-img img {width: 80%;}
.male-enhancement-content .custom-paragraph p {padding: 6px 0;font-size: 13px;}
.performed-button {margin-top: 50px;}
.male-enhancement-1 {margin-top: 25px;}
.performed-box {padding: 12px;}
.info-img::after {height: 99%;top: -32px;}
.about-contact-content h2 {font-size: 38px;}
.about-us-info.custom-pad {padding: 80px 0;}
.content-box ul li {font-size: 16px;}
.about-contact.custom-pad {padding: 70px 0;}
.facilities.custom-pad {padding: 70px 0;}
.info-content .custom-paragraph p {padding: 8px 0;}
.facilities-content {margin-top: 10px;}
.content-box {padding: 30px 30px;}
.info-content {padding: 0 30px 0 0;}
.facilities-content .accordion-body {font-size: 16px;}
.service-info-img::after {height: 99%;}
.inner-service-img img {width: 80%;}
.inner-service-right::after {width: 80%;top: -30px;left: 20px;}
.inner-service-content {padding-left: 10px;}
.inner-service.custom-pad {padding: 80px 0 80px 0;}
.what-we-do-box-content h4 {font-size: 22px;}
.review-list {text-align: center;}
.review-list-content {padding-top: 20px;padding-left: 0;}
.expert-content .custom-paragraph p {text-align: center;}
.inner-page-testimonial-carousel .testimonial.custom-pad {padding: 0 0 80px 0;}
/* fdev-sg */
/* fdev-ps */ 
.enhance {padding: 120px 0 100px 0;}
.enhance .enhance-left {padding-left: 70px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 280px;height: 240px;}
.enhance .enhance-right {padding: 35px 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 20px;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 12px;}
.enhance .enhance-left .enhance-left-top-img {padding-right: 8%;} 
.contact-us {padding: 0 !important;}
.contact-us .contact-right {position: relative;width: 100%;padding: 140px 85px 70px 85px;right: 0px;margin: 2px 0;z-index: 0;}
.contact-us .contact-left {width: 100%;padding: 70px 80px 50px 80px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 70px;}
.contact-us .contact-left .contact-left-bottom {padding: 35px 0 0px 35px;margin-bottom: -140px;position: relative;z-index: 999;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 25px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {margin-right: 12px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 0px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 21px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 12px;padding-right: 31px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 15px;margin-bottom: 11px;}
.contact-us .contact-right form .form-btn{text-align: center;} 
.footer-wrap .column-col:nth-child(1) .column-wrap {padding: 33px 30px 33px 0px;}
.footer-wrap .column-col:nth-child(2) .column-wrap {padding: 33px 0px 33px 25px;}
.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 33px 0 33px 20px;}
.footer-wrap .footer-bottom-wrap {margin-top: 20px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 0px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 14px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 10px;font-size: 18px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 27px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-left: 24px;padding-bottom: 10px;} 
.address-section .custom-heading h3 {margin-bottom: 8px;}
.address-section .custom-heading {margin-bottom: 35px;}
.address-section .left-part .card-wrap .card {width: 220px;padding: 18px;height: 143px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input, .contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {padding: 12px;margin-bottom: 8px;}
.contact-form-section .contact-form-sec-left {padding: 40px 50px;}
.map-section .map-wrap iframe {height: 390px;}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button {margin-top: 9px;}
.address-section .left-part .card-wrap .card span i {font-size: 35px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 4px;}
.address-section {padding: 65px 0;}
.contact-form-section .contact-from-right-img-wrap img {height: 414px;}
/* fdev-ps */	
}

@media only screen and (max-width: 991.98px) { 
.custom-pad {padding: 80px 0;}   
.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
.custom-button {padding: 20px 30px;font-size: 15px;}
.custom-button span {font-size: 12px;}
.custom-heading h5 {font-size: 16px;margin-bottom: 12px;}
.custom-heading h3 {font-size: 30px;line-height: 44px;margin-bottom: 10px;}
.custom-paragraph p {font-size: 14px;line-height: 20px;}
.inner-banner-text .breadcrumb-item a {font-size: 20px;}
.inner-banner-text .breadcrumb-item.active {font-size: 20px;}
.inner-banner-content h1 {font-size: 48px;}
.custom-inner-banner {padding: 190px 0 70px 0;}
.custom-paragraph p {font-size: 15px;line-height: 26px;}
.custom-pad {padding: 60px 0;}
.custom-paragraph p {font-size: 16px;line-height: 26px;}
/* fdev-sg */
.main-banner .carousel-caption {left: 0;bottom: 80px;text-align: center;z-index: 9;}
.main-banner .carousel-caption h1 {font-size: 35px;line-height: 50px;width: 100%;}
.main-banner .carousel-caption p {font-size: 16px;line-height: 30px;margin-top: 15px;width: 100%;}
.performed-section-heading .custom-paragraph p {padding: 25px 0 30px 0;}
.box-text {padding: 35px 0px 24px;text-align: center;}
.male-enhancement.custom-pad {padding: 87px 0 230px 0;}
.male-enhancement-img::after {width: 81%;height: 96%;left: 20px;top: -20px;}
.header-left ul li::after {right: 13px;height: 33px;bottom: -16px;}
.header-right a h5 {display:none;}
.header-right {text-align: center;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;margin-left: 10px;}
.banner-button {margin-top: 26px;}
.top-header {padding: 6px 0px;}
.box-text h3 {font-size: 24px;}
.male-enhancement-img img {width: 80%;}
.custom-header .navbar.navbar-expand-lg.py-0 .navbar-brand.ms-0.py-0 img {height: 30px;}
.custom-header .navbar-brand.ms-0.py-0 {margin-right: 0rem !important;}
.custom-header .navbar-expand-lg .nav-item {padding: 5px 0px;margin-left: 0px;width: 100%;}
.performed-button {margin-top: 50px;}
.male-enhancement-1 {margin-top: 25px;}
.custom-header .navbar-brand.ms-0.py-0 {width: 30%;}
.performed-box {padding: 12px;margin-top: 20px;}
.header-left ul li a h5 {display: none;}
.header-left ul li a span {display: block;}
.header-right a span {right: 0%;top: -12px;font-size: 16px;}
.header-left ul li a span {top: -14px;font-size: 16px;}
.header-left ul li {width: 10%;}
.main-banner .carousel-caption h1 br {display: none;}
.custom-header .navbar.navbar-expand-lg.py-0 {padding: 25px 0px !important;position: relative;}
.main-banner .carousel-caption p br {display: none;}
.nav-button {right: 100px;position: absolute;top: 10px;}
.custom-header .navbar.navbar-expand-lg.py-0 #navbarSupportedContent {background-color: var(--c-tertiary-text);margin-top: 20px;}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {color: var(--c-white-200);}
.custom-header .navbar-expand-lg .nav-item {border-bottom: none;}
.custom-header .navbar-expand-lg .nav-item:hover {border-bottom: none;background-color: var(--c-secondary);width: 100%;}
.custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {margin-bottom: 0px !important;}
.custom-header .navbar-expand-lg .nav-item:hover .nav-link {color: var(--c-tertiary-text);}
.custom-header .navbar-expand-lg .nav-item:hover .nav-link.active {color: var(--c-tertiary-text);}
.male-enhancement-content {margin-top: 40px;text-align: center;}
.male-enhancement {clip-path: polygon(100% 0, 100% 88%, 43% 89%, 0 91%, 0 0);}
.main-banner .carousel-item.active::after {position: absolute;content: '';background-color: rgba(255,255,255,0.7);width: 100%;top: 0;left: 0;z-index: 0;height: 100vh;}
.main-banner .carousel-indicators [data-bs-target] {background-color: var(--c-secondary-text);}
.performed-section-heading .custom-heading h3 br {display: none;}
.custom-header .navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.custom-header .navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.custom-header .navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.custom-header .navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.custom-header .navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.custom-header .navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.custom-header .navbar-header {display: block;position: absolute;right: 0;background-color: var(--c-tertiary-text);top: 16px;border-radius: 4px;}
.info-img::after {height: 99%;top: -32px;left: 40px;}
.about-contact-content h2 {font-size: 38px;}
.content-box ul li {font-size: 16px;}
.facilities.custom-pad {padding: 70px 0;}
.info-content .custom-paragraph p {padding: 8px 0;}
.facilities-content {margin-top: 10px;}
.content-box {padding: 30px 30px;}
.info-content {margin-top: 30px;}
.facilities-content .accordion-button.collapsed {font-size: 16px;}
.facilities-content .accordion-button {font-size: 16px;}
.about-contact-content h2 {font-size: 34px;}
.inner-service-content-2 {margin-top: 10px;}
.facilities-content .accordion-body {font-size: 16px;}
.service-info-img::after {height: 99%;}
.service-provide.custom-pad {padding: 110px 0 60px 0;}
.info-enhancement-img img {width: 80%;object-fit: cover;height: 500px;}
.inner-service-img img {width: 80%;}
.inner-service-right::after {width: 80%;top: -30px;left: 40px;}
.inner-service-content {padding-left: 0px;}
.inner-service.custom-pad {padding: 110px 0 60px 0;}
.what-we-do-box-content h4 {font-size: 22px;}
.inner-service-content {margin-top: 30px;}
.inner-service-content .custom-paragraph {margin-top: 20px;}
.review-list {text-align: center;}
.review-list-content {padding-top: 20px;padding-left: 0;}
.expert-content .custom-paragraph p {text-align: center;}
.inner-page-testimonial-carousel .testimonial.custom-pad {padding: 60px 0 60px 0;}
.performed-section-heading .custom-heading h3 {width: 100%;}
/* fdev-sg */
/* fdev-ps */ 
.enhance .enhance-left .enhance-left-top-img {padding-right: 7%;}
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 6px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 24px;}
.enhance .enhance-right {padding-left: 0px;text-align: center;padding-bottom: 0px;}
.enhance .enhance-right .custom-paragraph {padding-right: 0;}
.enhance .enhance-left .enhance-left-top-img img {height: 754px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 300px;height: 250px;}
.enhance .enhance-left {padding-left: 70px;} 
.contact-us {padding: 0 !important;}
.contact-us .contact-right {position: relative;width: 100%;padding: 120px 60px 60px 60px;right: 0px;margin:2px 0;z-index: 0;}
.contact-us .contact-left {width: 100%;padding: 50px 60px 30px 60px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 50px;padding-right: 0px;line-height: 38px;}
.contact-us .contact-left .contact-left-bottom {padding: 30px 0 0 30px;position: relative;z-index: 999;
margin-bottom: -114px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 20px;line-height: 28px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 22px;width: 48px;
height: 48px;margin-right: 12px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 26px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {font-size: 15px;padding-bottom: 2px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 14px;padding: 13px;margin-bottom: 10px;}
.contact-us .contact-right form .form-group .form-wrap input, .contact-us .contact-right form .form-group .form-wrap textarea {font-size: 13px;padding: 10px;margin-bottom: 9px;}
.contact-us .contact-right form .form-btn .custom-button {margin-top: 8px;padding-right: 34px;}
.contact-us .contact-right form .form-btn{text-align: center;} 
.footer-wrap {padding-top: 60px;}
.footer-wrap .column-wrap .footer-logo img {width: 80%;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li, 
.footer-wrap .footer-bottom-wrap .footer-bottom-text p {font-size: 12px;line-height: 20px;}
.footer-wrap .column-wrap .column-heading h2 {font-size: 16px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 30px 0px;}
.footer-wrap .column-wrap .column-bottom-text ul li span i {padding-right: 8px;font-size: 15px;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 24px;}
.footer-wrap .column-wrap .column-bottom-text li span {top: 0px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 11px;padding-left: 19px;} 
.address-section {padding: 60px 0;}
.address-section .custom-heading h3 {margin-bottom: 0px;}
.address-section .custom-heading {margin-bottom: 25px;}
.address-section .custom-heading p {font-size: 16px;line-height: 20px;}
.address-section .left-part .card-wrap .card {height: 135px;width: 210px;padding: 15px;}
.address-section .left-part .card-wrap .card span i {font-size: 30px;}
.address-section .left-part .card-wrap .card .card-body {padding: 6px 0 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {font-size: 16px;margin-bottom: 6px;}
.address-section .left-part .card-wrap .card .card-body a, .address-section .left-part .card-wrap .card .card-body p {line-height: 18px;}
.contact-form-section .card {padding: 22px 26px;}
.contact-form-section .contact-form-sec-left {padding: 25px;border-radius: 30px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input, .contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {font-size: 12px; padding: 10px;margin-bottom: 7px;}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button {margin-top: 8px;}
.map-section .map-wrap iframe {height: 280px;}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea {height: 135px;}
.contact-form-section .map-wrap {margin-top: 15px;}
.map-section .custom-heading h5{margin-bottom: 10px;}
.map-section .custom-heading{margin-bottom: 12px;}
.contact-form-section .contact-from-right-img-wrap img {height: 365px;}
.map-section {padding-bottom: 20px;}
/* fdev-ps */
}

@media (max-width: 767.98px){
.custom-button {padding: 14px 22px;font-size: 12px;}
.custom-heading h3 {font-size: 25px;line-height: 40px;}
.inner-banner-content h1 {font-size: 34px;}
.inner-banner-text .breadcrumb-item a {font-size: 17px;}
.inner-banner-text .breadcrumb-item.active {font-size: 17px;}
.custom-inner-banner {padding: 160px 0 60px 0;}
.custom-heading h3 {margin-bottom: 0px;}
.custom-pad {padding: 40px 0;}
/* fdev-sg */
.main-banner .carousel-caption.container.d-none.d-md-block {display: block !important;}
.main-banner .carousel-caption h1 {font-size: 30px;line-height: 40px;}
.main-banner .carousel-caption p {font-size: 14px;margin-top: 10px;}
.main-banner .d-block.w-100 {object-fit: cover;height: 28vh;}
.nav-button {right: 80px;top: 12px;}
.box-text {text-align: center;}
.male-enhancement-img::after {height: 95%;left: 20px;top: -5px;}
.male-enhancement.custom-pad {padding: 67px 0 200px 0;}
.main-banner .carousel-caption {bottom: 70px;}
.header-left ul li:last-child {padding: 0 0px;width: 49%;}
.performed-section.custom-pad {padding: 50px 0;}
.custom-header .navbar-header {top: 10px;}
.box-text {padding: 35px 5px 24px;}
.male-enhancement .custom-heading h3 {margin-bottom: 0px;}
.performed-box {margin-top: 10px;}
.info-img::after {height: 99%;top: -32px;left: 20px;}
.about-us-info.custom-pad {padding: 80px 0 50px;}
.facilities-content {margin-top: 30px;}
.about-contact-content h2 {font-size: 22px;}
.about-contact-button-2 {margin: 30px 0px 0px 20px;}
.about-contact-button {margin-top: 30px;}
.facilities.custom-pad {padding: 50px 0;}
.service-info-img::after {height: 99%;}
.service-provide.custom-pad {padding: 90px 0 50px 0;}
.service-info-content-box h4 {font-size: 20px;}
.inner-service.custom-pad {padding: 90px 0 50px 0;}
.inner-service-right::after {top: -30px;left: 30px;}
.what-we-do-box {height: 250px;}
.review-list li span img {width: 20%;}
.expert-content .custom-paragraph p {margin-top: 10px;}
.expert-content {margin: 30px 0 0px 0;}
.expert-content-button {margin-top: 20px;}
.inner-testimonial-carousel .qoute {font-size: 60px;}
/* fdev-sg */
/* fdev-ps */ 
.enhance .enhance-right .enhance-right-button .custom-button {margin-right: 6px;}
.enhance .enhance-right {padding-left: 0px;}
.enhance .enhance-right .custom-heading h3 {margin-bottom: 15px;line-height: 35px;}
.enhance .enhance-left {padding-left: 50px;}
.enhance .enhance-left .enhance-left-top-img img {height: 620px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 230px;height: 190px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 20px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 70px;}
.enhance .enhance-right {padding: 33px 0px;} 
.contact-us .contact-left .custom-heading h3 {line-height: 32px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {padding-bottom: 0px;font-size: 14px;}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 20px;width: 45px;
height: 45px;margin-right: 8px;}
.contact-us .contact-left .contact-left-bottom {padding: 20px 0 0 20px;margin-bottom: -103px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 17px;line-height: 22px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 20px;}
.contact-us .contact-right {padding: 100px 45px 45px 45px;}
.contact-us .contact-left {padding: 50px 50px 25px 50px;}
.contact-us .contact-right form .form-btn .custom-button {background-position: 93%;} 
.footer-wrap .footer-bottom-wrap {padding: 12px 0;margin-top: 15px;}
.footer-wrap .column-wrap .footer-logo img {width: 47%;}
.footer-wrap .column-col:nth-child(2) .column-wrap .column-bottom-text p {padding-bottom: 6px;}
.footer-wrap .column-wrap .column-bottom-text li span {line-height: 20px;position: relative;}
.footer-wrap .column-col:nth-child(1) .column-wrap .column-bottom-text p{padding-right: 0;}
.footer-wrap {padding-top: 35px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li  {font-size: 15px;line-height: 26px;}
.footer-wrap .column-wrap .column-heading h2 {font-size: 18px;}
.footer-wrap .footer-bottom-wrap .footer-bottom-text p{font-size: 13px;line-height: 22px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 7px;}
.footer-wrap .column-col:nth-child(1) .column-wrap,.footer-wrap .column-col:nth-child(2) .column-wrap,.footer-wrap .column-col:nth-child(3) .column-wrap {padding: 13px 0px;text-align: center;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 17px;}
.footer-wrap .column-col:not(:last-child) .column-wrap {border-right: none;} 
.address-section .custom-heading p {font-size: 14px;}
.address-section .custom-heading {margin-bottom: 18px;}
.address-section .left-part .card-wrap .card {width: 380px;}
.address-section .left-part .card-wrap .card span i {font-size: 28px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 40px 0;}
.address-section .left-part .card-wrap .card .card-body .card-title {margin-bottom: 4px;}
.address-section .left-part .card-wrap .card .card-body a, .address-section .left-part .card-wrap .card .card-body p {font-size: 12px;} 
.address-section {padding: 50px 0;}
.contact-form-section .card {padding: 15px 20px;}
.contact-form-section .map-wrap {margin-top: 6px;}
.map-section .map-wrap iframe {height: 220px;}
.address-section .left-part .card-gap{margin-top: 20px;}
.map-section .custom-heading h5 {margin-bottom: 7px;}
.map-section .custom-heading {margin-bottom: 7px;}
.contact-form-section .contact-from-right-img-wrap img {height: 528px;}
.map-section {padding-bottom: 15px;}
/* fdev-ps */  
}

@media (max-width: 575.98px){   
.custom-heading h3 {font-size: 30px;}
.custom-paragraph p {font-size: 15px;line-height: 22px;}
.custom-pad {padding: 30px 0;} 
.custom-heading h5 {font-size: 14px;margin-bottom: 6px;}
/* fdev-sg */
.nav-button {display: none;}
.male-enhancement-img::after {height: 94%;}
.custom-header .navbar-brand.ms-0.py-0 {width: 45%;}
.main-banner .carousel-caption {bottom: 50px;}
.main-banner .carousel-caption h1 {font-size: 27px;}
.custom-header .navbar-toggler {height: 35px !important;}
.custom-header .navbar-header {top: 20px;}
.performed-button {margin-top: 40px;}
.performed-box {margin-top: 10px;}
.male-enhancement {clip-path: polygon(100% 0, 100% 87%, 43% 88%, 0 92%, 0 0);}
.header-right a span {top: -23px;}
.box-text h3 {font-size: 22px;}
.male-enhancement-content .custom-paragraph p {padding: 10px 0;}
.custom-header .navbar.navbar-expand-lg.py-0 .navbar-brand.ms-0.py-0 img {height: 25px;}
.box-text .custom-paragraph p {margin-top: 15px;}
.info-img::after {height: 99%;}
.info-content .custom-heading {text-align: center;}
.info-content .custom-paragraph {text-align: center;}
.facilities-content .accordion-button.collapsed {font-size: 15px;line-height: 24px;}
.facilities-content .accordion-button {font-size: 15px;line-height: 24px;}
.facilities-content .accordion-body {font-size: 15px;line-height: 22px;}
.about-us-info.custom-pad {padding: 60px 0 30px;}
.about-contact-content h2 {font-size: 20px;}
.inner-service-content-2 {text-align: center;}
.service-post.custom-pad .custom-heading {text-align: center;}
.service-info-img::after {height: 99%;top: -32px;}
.service-provide.custom-pad {padding: 80px 0 40px 0;}
.info-enhancement-img img {height: 400px;}
.inner-service-content {text-align: center;}
.inner-service-right::after {top: -25px;left: 20px;}
.inner-service.custom-pad {padding: 70px 0 40px 0;}
.what-we-do-box-content .custom-paragraph p {padding: 15px 0;}
.inner-page-testimonial-carousel .testimonial.custom-pad {padding: 80px 0 80px 0;}
/* fdev-sg */
/* fdev-ps */ 
.enhance .enhance-left .enhance-left-top-img img {height: 340px;}
.enhance .enhance-left .enhance-left-bottom-img img {width: 150px;height: 120px;}
.enhance .enhance-left .enhance-left-bottom-img {bottom: 35px;}
.enhance .enhance-left {padding-left: 30px;}
.enhance .enhance-right .custom-heading h3 {margin-bottom: 20px;line-height: 27px;font-size: 23px;}
.enhance .enhance-right .custom-heading h5 {font-size: 14px;}
.enhance .enhance-right .custom-paragraph {padding-right: 0px;}
.enhance .enhance-right .custom-paragraph p {padding-bottom: 14px;}
.enhance .enhance-right .enhance-right-button .first-btn {padding: 14px 46px;margin-bottom: 8px;} 
.contact-us .contact-right {padding: 75px 18px 22px 18px;}
.contact-us .contact-right form .form-group .form-wrap textarea{height: 120px;}
.contact-us .contact-left {padding: 30px 30px 15px 30px;}
.contact-us .contact-left .custom-heading h3 {margin-bottom: 22px; }
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon {font-size: 16px;width: 35px;
height: 35px;margin-right: 4px;}
.contact-us .contact-left .contact-left-bottom ul li p, .contact-us .contact-left .contact-left-bottom ul li a {font-size: 14px;line-height: 21px;}
.contact-us .contact-left .contact-left-bottom ul li h4 {font-size: 12px;}
.contact-us .contact-left .contact-left-bottom {padding: 15px 0 0 15px;margin-bottom: -70px;}
.contact-us .contact-left .contact-left-bottom ul li {padding-bottom: 15px;} 
.footer-wrap {padding-top: 30px;}
.footer-wrap .column-col:nth-child(1) .column-wrap, .footer-wrap .column-col:nth-child(2) .column-wrap, .footer-wrap .column-col:nth-child(3) .column-wrap {padding: 7px 0px;}
.footer-wrap .column-wrap .footer-logo img {width: 70%;}
.footer-wrap .column-wrap .column-bottom-text {margin-top: 15px;}
.footer-wrap .column-wrap .column-bottom-text p, .footer-wrap .column-wrap .column-bottom-text p a, .footer-wrap .column-wrap .column-bottom-text ul li a, .footer-wrap .column-wrap .column-bottom-text ul li {
line-height: 22px;}
.footer-wrap .column-wrap .column-bottom-text li span {line-height: 15px;}
.footer-wrap .column-wrap .column-bottom-text ul li {padding-bottom: 8px;} 
.address-section {padding: 35px 0;}
.contact-form-section .contact-form-sec-left {padding: 18px;border-radius: 25px;}
.address-section .left-part .card-wrap .card {width: 260px;}
.address-section .left-part .card-wrap .card .card-body {padding: 8px 0px 0;}
.map-section .map-wrap iframe {height: 165px;}
.address-section .custom-heading p {font-size: 13px;line-height: 16px;}
.map-section .custom-heading {margin-bottom: 0px;}
.contact-form-section .contact-from-right-img-wrap img {height: 288px;}
.map-section {padding-bottom: 7px;}
/* fdev-ps */  
}

@media only screen and (max-width: 480.98px) {	
.custom-heading h3 {font-size: 22px;line-height: 32px;}
.inner-banner-content h1 {font-size: 24px;}
.inner-banner-text .breadcrumb-item a {font-size: 12px;}
.inner-banner-text .breadcrumb-item.active {font-size: 12px;}
.custom-inner-banner {padding: 140px 0 40px 0;}
.custom-pad {padding: 30px 0;}
/* fdev-sg */
.main-banner .carousel-caption p {font-size: 13px;line-height: 22px;}
.custom-header .navbar-brand.ms-0.py-0 {width: 50%;}
.box-text {padding: 20px 0 10px;}
.male-enhancement-img::after {height: 90%;left: 10px;top: 5px;border: 1px solid var(--c-white);}
.male-enhancement-2 .custom-button {margin-left: 0px;margin-top: 15px;}
.male-enhancement.custom-pad {padding: 47px 0 200px 0;}
.main-banner .carousel-caption {bottom: 66px;}
.performed-section-heading .custom-heading h3 {font-size: 22px;line-height: 32px;}
.male-enhancement {clip-path: polygon(100% 0, 100% 87%, 43% 88%, 0 91%, 0 0);}
.custom-header .navbar.navbar-expand-lg.py-0 .navbar-brand.ms-0.py-0 img {height: 20px;}
.box-text h3 {font-size: 20px;}
.banner-button {margin-top: 16px;}
.male-enhancement-1 .custom-button {padding: 14px 40px;} 
.about-contact-button-2 {margin: 20px 0px 0px 0px;}
.info-img::after {left: 10px;top: -22px;height: 99%;border: 2px solid var(--c-secondary);}
.about-contact-button-2 .custom-button {padding: 14px 11px;font-size: 11px;}
.about-contact-button-2 .custom-button span {margin-left: 5px;}
.about-contact-button .custom-button {padding: 14px 11px;font-size: 11px;}
.about-contact-button .custom-button span {margin-left: 5px;}
.service-info-img::after {height: 99%;top: -22px;border: 2px solid var(--c-secondary);left: 12px;}
.info-enhancement-img img {height: 300px;}
.inner-service-content {margin-top: 20px;}
.service-provide.custom-pad {padding: 50px 0 30px 0;}
.what-we-do-box {height: 270px;}
.inner-service-img img {width: 85%;}
.inner-service-right::after {top: -15px;left: 8px;border: 2px solid var(--c-secondary);width: 85%;border-radius: 7px;}
.carousel-section.custom-pad .item h4 {font-size: 18px;}
.carousel-section.custom-pad .item {margin-top: 20px;}
.review-list li h4 {font-size: 20px;}
.review-list li h5 {font-size: 16px;}
.review-list li span img {width: 30%;}
/* fdev-sg */
}

