/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

/******** Color Schemes ********/

:root {
--c-primary: #0e163d;
--c-secondary: #d4bfa3;
--c-white: #ffffff;
--c-white-100: #f8f9ff;
--c-white-200: #ccd0e2;
--c-black-text: #000000;
--c-primary-text: #101828;
--c-secondary-text: #5c5c5c;
--c-blue-200: #232f6a;
--c-tertiary-text: #131f39;
--c-black-700: #333333;
--ff-primary: 'Chivo', sans-serif;
}

/******** CSS Resets ********/
* {
padding: 0;
margin: 0 auto;
}

ul {
margin: 0;
padding: 0;
}

li {
list-style: none;
}

a:focus, a:hover {
outline: none;
}

a {
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
text-decoration: none;
}

a:hover {
text-decoration: none;
}

p {
margin: 0;
padding: 0;
font-size: 14px;
color: var(--c-black-text);
line-height: 18px;
font-weight: 400;
}

body {
font-family: var(--ff-primary);
font-size: 14px;
color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--ff-primary);
margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
width: 100%;
max-width: 1440px;
}


.custom-pad {
padding: 110px 0;
}


/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
background-color: #fff;
}

.navbar-toggler .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
background-color: #fff;
}

.navbar-default .navbar-toggler {
border-color: #5f4b8b;
background: #5f4b8b;
outline: none;
}

.navbar-toggler {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.navbar-toggler .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
margin-top: 4px;
}

.navbar-header {
display: none;
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*custom-button-start-supriyo*/
.custom-button {
background-color: var(--c-tertiary-text);
color: var(--c-white);
padding: 26px 37px;
font-family: var(--ff-primary);
font-weight: 700;
font-size: 17px;
text-align: center;
display: inline-block;
text-decoration: none;
border-radius: 50px;
border:2px solid var(--c-tertiary-text);
transition: all 0.3s ease-in-out;
line-height: 0;
text-transform: capitalize;
}
.custom-button:hover {
color: var(--c-tertiary-text);
background-color: var(--c-white);
}
.custom-button span {
margin-left: 10px;
font-size: 15px;
}
/*custom-button-end-supriyo*/

/*custom-heading-start-Deep*/

.custom-heading h5 {
font-size: 20px;
font-weight: 700;
font-family: var(--ff-primary);
color: var(--c-secondary);
margin-bottom: 20px;
text-transform: capitalize;
}

.custom-heading h3 {
font-size: 50px;
font-family: var(--ff-primary);
font-weight: 700;
color: var(--c-primary-text);
text-transform: capitalize;
margin-bottom: 40px;
}

/*custom-heading-end-Deep*/

/*custom-paragraph-start-Deep*/
.custom-paragraph p {
font-size: 18px;
font-family: var(--ff-primary);
font-weight: 400;
color: var(--c-secondary-text);
line-height: 34px;
text-transform: capitalize;
}
/*custom-paragraph-end-Deep*/

