/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

/******** Color Schemes ********/

:root {
--c-primary: #0e163d;
--c-secondary: #d4bfa3;
--c-white: #ffffff;
--c-white-100: #f8f9ff;
--c-white-200: #ccd0e2;
--c-black-text: #000000;
--c-primary-text: #101828;
--c-secondary-text: #5c5c5c;
--c-blue-200: #232f6a;
--c-tertiary-text: #131f39;
--c-black-700: #333333;
--ff-primary: 'Chivo', sans-serif;
}

/******** CSS Resets ********/
* {
padding: 0;
margin: 0 auto;
}

ul {
margin: 0;
padding: 0;
}

li {
list-style: none;
}

a:focus, a:hover {
outline: none;
}

a {
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
text-decoration: none;
}

a:hover {
text-decoration: none;
}

p {
margin: 0;
padding: 0;
font-size: 14px;
color: var(--c-black-text);
line-height: 18px;
font-weight: 400;
}

body {
font-family: var(--ff-primary);
font-size: 14px;
color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--ff-primary);
margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
width: 100%;
max-width: 1440px;
}


.custom-pad {
padding: 110px 0;
}


/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
background-color: #fff;
}

.navbar-toggler .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
background-color: #fff;
}

.navbar-default .navbar-toggler {
border-color: #5f4b8b;
background: #5f4b8b;
outline: none;
}

.navbar-toggler {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.navbar-toggler .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
margin-top: 4px;
}

.navbar-header {
display: none;
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*custom-button-start-supriyo*/
.custom-button {
background-color: var(--c-tertiary-text);
color: var(--c-white);
padding: 26px 37px;
font-family: var(--ff-primary);
font-weight: 700;
font-size: 17px;
text-align: center;
display: inline-block;
text-decoration: none;
border-radius: 50px;
border:2px solid var(--c-tertiary-text);
transition: all 0.3s ease-in-out;
line-height: 0;
text-transform: capitalize;
}
.custom-button:hover {
color: var(--c-tertiary-text);
background-color: var(--c-white);
}
.custom-button span {
margin-left: 15px;
font-size: 15px;
}
/*custom-button-end-supriyo*/

/*custom-heading-start-Deep*/

.custom-heading h5 {
font-size: 20px;
font-weight: 700;
font-family: var(--ff-primary);
color: var(--c-secondary);
margin-bottom: 20px;
text-transform: capitalize;
}

.custom-heading h3 {
font-size: 50px;
font-family: var(--ff-primary);
font-weight: 700;
color: var(--c-primary-text);
text-transform: capitalize;
margin-bottom: 40px;
}

/*custom-heading-end-Deep*/

/*custom-paragraph-start-Deep*/
.custom-paragraph p {
font-size: 18px;
font-family: var(--ff-primary);
font-weight: 400;
color: var(--c-secondary-text);
line-height: 34px;
text-transform: capitalize;
}
/*custom-paragraph-end-Deep*/

/*custom-inner-banner-start-supriyo*/
.custom-inner-banner {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
position: relative;
z-index: 3;
padding: 260px 0 80px 0;
}
.custom-inner-banner::after {
position: absolute;
content: '';
background-color: rgba(255,255,255,0.9);
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.inner-banner-content {
text-align: center;
}
.inner-banner-content h1 {
font-family: var(--ff-primary);
color: var(--c-tertiary-text);
font-size: 70px;
font-weight: 700;
text-transform: uppercase;
}
.inner-banner-text {
margin-top: 10px;
}
.inner-banner-text .breadcrumb-item {
margin: 0;
}
.inner-banner-text .breadcrumb {
justify-content: center;
}
.inner-banner-text .breadcrumb-item a {
display: block;
width: 100%;
text-align: end;
text-decoration: none;
color: var(--c-tertiary-text);
transition: all 0.2s ease-in-out;
font-size: 22px;
font-family: var(--ff-secondary);
font-weight: 600;
}
.inner-banner-text .breadcrumb-item a:hover {
color: var(--c-secondary-text);
}
.inner-banner-text .breadcrumb-item.active {
font-size: 22px;
font-family: var(--ff-secondary);
font-weight: 600;
transition: all 0.2s ease-in-out;
color: var(--c-primary-text);
}
.inner-banner-text .breadcrumb-item + .breadcrumb-item::before {
color: var(--c-primary);
}
/*custom-inner-banner-end-supriyo*/

/*header-start-supriyo*/
.custom-header.py-xl-3.py-2 .container-fluid {
max-width: 1642px;
}
.custom-header.py-xl-3.py-2 {
padding-top: 0 !important;
position: absolute;
z-index: 4;
width: 100%;
}
.top-header {
border-bottom: 1px solid #dbdbdb;
padding: 18px 0px;
}
.header-left ul li {
display: inline-block;
padding: 0 46px 0px 0px;
vertical-align: middle;
position: relative;
}
.header-left ul li:last-child {
padding: 0 46px 0px 0px;
}
.header-left ul li::after {
position: absolute;
content: '';
width: 1px;
height: 66px;
background-color: #dbdbdb;
bottom: -18px;
right: 22px;
}
.header-left ul li:last-child::after {
display: none;
}
.header-left ul li a h5 {
font-family: var(--ff-primary);
font-weight: 400;
font-size: 16px;
margin-left: 30px;
text-decoration: none;
color: var(--c-primary-text);
transition: all 0.3s ease-in-out;
}
.header-left ul li a span {
text-decoration: none;
font-size: 20px;
color: var(--c-tertiary-text);
position: absolute;
left: 0;
top: -5px;
}
.header-left ul li a h5:hover {
color: var(--c-secondary-text);
}
.header-right a h5 {
font-family: var(--ff-primary);
font-weight: 400;
font-size: 16px;
padding-left: 30px;
text-decoration: none;
color: var(--c-primary-text);
transition: all 0.3s ease-in-out;
}
.header-right a span {
text-decoration: none;
font-size: 20px;
color: var(--c-tertiary-text);
position: absolute;
right: 29%;
top: -6px;
}
.header-right a h5:hover {
color: var(--c-secondary-text);
}
.header-right {
text-align: end;
position: relative;
}
.custom-header .navbar.navbar-expand-lg.py-0 {
padding: 37px 0px !important;
}
.custom-header .navbar-expand-lg .navbar-nav .nav-link {
font-family: var(--ff-primary);
font-weight: 400;
font-size: 18px;
color: var(--c-primary-text);
}
.custom-header .navbar-expand-lg .nav-item {
padding: 0px 26px;
}
.custom-header .navbar-expand-lg .navbar-nav.ms-auto.mb-2.mb-lg-0 {
margin-left: unset !important;
}
.custom-header .navbar-expand-lg #navbarSupportedContent {
justify-content: center !important;
}
.custom-header .navbar-expand-lg .nav-item {
padding: 0px 26px;
transition: all 0.3s ease-in-out;
position: relative;
}
.custom-header .navbar-expand-lg .nav-item::after {
position:absolute;
content: '';
bottom: 0;
width: 0;
left: auto;
right: 0;
height: 2px;
background-color: var(--c-secondary);
transition: all 0.3s ease-in-out;
}
.custom-header .navbar-expand-lg .nav-item:hover::after {
width: 100%;
right: auto;
left: 0;
}

.custom-header .navbar-expand-lg .nav-item:hover .nav-link.active {
color: var(--c-secondary);
}
.custom-header .navbar-expand-lg .nav-item:hover .nav-link {
color: var(--c-secondary);
}
/*header-end-supriyo*/
/*banner-start-supriyo*/
.main-banner {
position: relative;
z-index: 1;
}
.main-banner .carousel-caption {
right: 0;
left: 23px;
text-align: left;
bottom: 180px;
}
.main-banner .carousel-caption h1 {
font-family: var(--ff-primary);
font-size: 70px;
font-weight: 700;
color: var(--c-primary-text);
line-height: 83px;
width: 54%;
margin-left: 0;
}
.main-banner .carousel-caption p {
font-family: var(--ff-primary);
font-size: 22px;
font-weight: 400;
color: var(--c-secondary-text);
margin-top: 25px;
line-height: 42px;
width: 33%;
}
.banner-button {
margin-top: 36px;
}
.main-banner .d-block.w-100 {
margin-top: 65px;
}
/*banner-end-supriyo*/
/*perfomed-procedures-start-supriyo*/
.performed-section.custom-pad .container-fluid {
max-width: 1642px;
}
.performed-section {
text-align: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.performed-box {
background-color: var(--c-white);
padding: 15px;
border-radius: 10px;
}
.box-text {
text-align: left;
}
.box-text h3 {
font-family: var(--ff-primary);
font-size: 26px;
font-weight: 700;
color: var(--c-primary-text);
}
.box-text .custom-para {
margin-top: 35px;
}
.box-text {
padding: 22px 30px 22px 30px;
}
.performed-button {
margin-top: 75px;
}
.performed-box-img img {
object-fit: cover;
width: 100%;
}
.performed-button .custom-button {
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
}
.performed-button .custom-button:hover {
background-color: transparent;
color: var(--c-secondary);
border: 2px solid var(--c-secondary);
}
.box-text .custom-paragraph p {
margin-top: 25px;
}
.performed-section-heading .custom-heading h3 {
color: var(--c-white);
margin-bottom: 0px;
width: 72%;
}
.performed-section-heading .custom-paragraph p {
padding: 48px 0 90px 0;
color:var(--c-white-200);
}
/*perfomed-procedures-end-supriyo*/
/*male-enhancement-start-supriyo*/
.male-enhancement.custom-pad .container-fluid {
max-width: 1642px;
}
.male-enhancement {
text-align: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
clip-path: polygon(100% 0, 100% 88%, 43% 89%, 0 100%, 0 0);
}
.male-enhancement.custom-pad {
padding: 177px 0 290px 0;
}
.male-enhancement-1 {
display: inline-block;
margin-top: 36px;
}
.male-enhancement-2 {
display: inline-block;
}
.male-enhancement-content {
text-align: left;
}
.male-enhancement-content .custom-heading h3 {
color: var(--c-white);
}
.male-enhancement-content .custom-paragraph p {
color: var(--c-white-200);
padding: 18px 0;
}
.male-enhancement-1 .custom-button {
background-color: var(--c-white);
color: var(--c-primary);
border: 2px solid transparent;
}
.male-enhancement-1 .custom-button:hover {
background-color: transparent;
color: var(--c-white);
border: 2px solid var(--c-white);
}
.male-enhancement-2 .custom-button {
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
margin-left:15px;
}
.male-enhancement-2 .custom-button:hover {
background-color: transparent;
color:var(--c-secondary);
border: 2px solid var(--c-secondary);
}
.male-enhancement-img img {
margin-top: 30px;
}
.male-enhancement-img {
position: relative;
z-index: 9;
}
.male-enhancement-img::after {
position: absolute;
content: '';
border: 3px solid var(--c-white);
width: 80%;
height: 96%;
left: 30px;
top: -21px;
z-index: -1;
}
.male-enhancement .custom-heading h3 {
margin-bottom: 16px;;
}
/*male-enhancement-end-supriyo*/
/*About-us-inner-start-supriyo*/
.info-img {
text-align: center;
position: relative;
}
.info-img::after {
position: absolute;
content: '';
border: 3px solid var(--c-secondary);
height: 680px;
width: 80%;
top: -42px;
left: 22px;
z-index: -1;
}
.dr-img {
overflow: hidden;
}
.dr-img img {
width: 80%;
object-fit: cover;
}
.info-content .custom-paragraph p {
padding: 18px 0;
}
.facilities .custom-heading {
text-align: center;
}
.facilities .custom-heading h3 {
color: var(--c-white);
}
.facilities-content .accordion-button.collapsed {
font-family: var(--ff-primary);
font-size: 20px;
color: var(--c-tertiary-text);
font-weight: 600;
}
.facilities-content .accordion-button {
font-family: var(--ff-primary);
font-size: 20px;
color: var(--c-tertiary-text) !important;
font-weight: 600;
}
.facilities-content  .accordion-body {
padding: 0;
}
.facilities-content  .accordion-body p {
padding: 1rem 1.25rem;
font-size: 18px;
font-family: var(--ff-primary);
font-weight: 400;
color: var(--c-secondary-text);
line-height: 34px;
text-transform: capitalize;
background-color: var(--c-white-100);
}
.facilities-content .accordion-button::after {
padding: 15px 0;
}
.facilities-content .accordion-item {
background-color: var(--c-white);
border: 1px dotted var(--c-tertiary-text);
}
.facilities-content .accordion-button.collapsed {
background-color: var(--c-white);
}
.facilities-content .accordion-button {
background-color: var(--c-white);
}
.facilities-content {
margin-top: 30px;
}
.about-contact {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
position: relative;
z-index: 3;
background-attachment: fixed;
}
.about-contact::after {
position: absolute;
content: '';
background-color: rgba(212,191,163,0.8);
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.about-contact-content h2 {
font-family: var(--ff-primary);
font-size: 55px;
font-weight: 700;
color: var(--c-tertiary-text);
text-transform: capitalize;
}
.about-contact-button {
display: inline-block;
margin-top: 40px;
}
.about-contact-button-2 {
display: inline-block;
margin: 40px 0px 0 20px;
}
.about-contact-button .custom-button {
background-color: var(--c-white);
color: var(--c-primary);
border: 2px solid transparent;
}
.about-contact-button .custom-button:hover {
background-color: transparent;
color: var(--c-white);
border: 2px solid var(--c-white);
}
.about-contact-button-2 .custom-button {
background-color: var(--c-tertiary-text);
color: var(--c-white-100);
border: 2px solid transparent;
}
.about-contact-button-2 .custom-button:hover {
background-color: transparent;
color: var(--c-tertiary-text);
border: 2px solid var(--c-tertiary-text);
}
/*About-us-inner-end-supriyo*/
/*service-inner-start-supriyo*/
.service-info-img {
text-align: center;
position: relative;
}
.service-info-img::after {
position: absolute;
content: '';
border: 3px solid var(--c-secondary);
height: 99%;
width: 80%;
top: -42px;
left: 22px;
z-index: 1;
}
.info-enhancement-img{
overflow: hidden;
z-index: 5;
position: relative;
}
.info-enhancement-img img {
width: 80%;
object-fit: cover;
}
/*service-inner-end-supriyo*/
/*Inner service page-start-supriyo*/
.inner-service.custom-pad {
padding: 140px 0 110px 0;
}
.what-we-do.custom-pad .custom-heading {
text-align: center;
}
.what-we-do.custom-pad .custom-heading h3 {
color: var(--c-white);
}
.inner-service-img img {
width: 100%;
object-fit: cover;
}
.inner-service-right {
position: relative; 
text-align: center; 
}
.inner-service-right::after {
position: absolute;
content: '';
border: 3px solid var(--c-secondary);
width: 100%;
height: 100%;
top: -30px;
left: -30px;
z-index: -1;
border-radius: 12px;
}
.inner-service-content {
padding-left: 50px;
}
.inner-service-content-2 {
text-align: left;
margin-top: 50px;
}
.inner-service-content-2 .custom-paragraph p {
padding: 10px 0;
}
.inner-service-content-2 .custom-paragraph p:last-child {
padding: 10px 0 0px 0;
}
.what-we-do-box {
border: 2px solid var(--c-secondary);
border-radius: 5px;
padding: 15px 15px;
height: 300px;
margin-top: 25px;
cursor: pointer;
position: relative;
z-index: 9;
}
.what-we-do-box::after {
position: absolute;
content: '';
background-color: rgba(212,191,163,0.2);
width: 0;
height: 100%;
top: 0;
left: auto;
transition: all 0.3s ease-in-out;
right: 0;
z-index: -1;
}
.what-we-do-box:hover::after {
width: 100%;
right: auto;
left: 0;
}
.what-we-do-box-content span {
font-size: 60px;
color: var(--c-white);
transition: all 0.3s ease-in-out;
}
.what-we-do-box-content h4 {
font-family: var(--ff-primary);
font-size: 26px;
font-weight: 600;
color: var(--c-secondary);
text-transform: capitalize;
margin-top: 10px;
transition: all 0.3s ease-in-out;
}
.what-we-do-box-content .custom-paragraph p {
color: var(--c-white-200);
padding: 20px 0;
}
.what-we-do-box:hover span {
padding-left: 30px;
color: var(--c-secondary);
}
.what-we-do-box:hover h4 {
color: var(--c-white);
}
/*Inner service page-end-supriyo*/
/*testimonial-inner-page-start-supriyo*/
.info-img {
text-align: center;
position: relative;
}
.info-img::after {
position: absolute;
content: '';
border: 3px solid var(--c-secondary);
height: 99%;
width: 80%;
top: -42px;
left: 22px;
z-index: -1;
}
.dr-img {
overflow: hidden;
}
.dr-img img {
width: 80%;
object-fit: cover;
}
.review-list li {
display: inline-block;
vertical-align: middle;
}
.review-list li span img {
width: 15%;
}
.review-list-content {
padding-left: 30px;
}
.expert-content {
margin: 30px 0 30px 0;
border-bottom: 1px solid var(--c-white-200);
padding-bottom: 30px;
}
.review-list li h4 {
font-family: var(--ff-primary);
font-size: 22px;
font-weight: 400;
color: var(--c-tertiary-text);
}
.expert-content .custom-paragraph p {
margin-top: 30px;
}
.review-list li h5 {
padding: 15px 0;
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 400;
color: var(--c-tertiary-text);
}
.expert-content-button {
text-align: center;
}
.inner-page-testimonial-carousel .testimonial.custom-pad {
padding: 0 0 110px 0;
}
/*testimonial-inner-page-end-supriyo*/

.custom-pagination {
display: flex;
align-items: center;
justify-content: center;
  gap: 0 10px;
}
.custom-pagination > * {
margin: 0;
color: var(--c-primary);
padding: 5px 10px;
font-size: 15px;
}
.custom-pagination > :hover {
color: var(--c-primary);
}
.custom-pagination .current {
background-color: var(--c-primary);
color: var(--c-white) !important;
}
.next.page-numbers {
display: flex;
align-items: center;
gap: 7px; 
}

/*responsive-start-Supriyo*/
/* Enhancement */
.enhance{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 140px 0 120px 0;
}
.enhance .enhance-left .enhance-left-top-img{
padding-right: 10%;
}
.enhance .enhance-left .enhance-left-top-img img{
width: 100%;
height: 910px;
object-fit: cover;
}
.enhance .enhance-left{
padding-left: 100px;
position: relative;
}
.enhance .enhance-left .enhance-left-bottom-img{
position: absolute;
left: -12px;
bottom: 92px;
}
.enhance .enhance-left .enhance-left-bottom-img img{
border: 6px solid var(--c-white);
width: 360px;
height: 292px;
object-fit: cover;
}
.enhance .enhance-right{
padding: 55px 4px;
} 
.enhance .enhance-right .custom-paragraph{
padding-right: 72px;
}
.enhance .enhance-right .custom-paragraph p{
padding-bottom: 27px;
}
.enhance .enhance-right .enhance-right-button .custom-button{
    margin-right: 24px;
}
.enhance .enhance-right .enhance-right-button .enhance-btn{
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
}
.enhance .enhance-right .enhance-right-button .enhance-btn:hover{
color: var(--c-secondary);
background-color: var(--c-white);
}
/* contact-us */
.contact-us{
position: relative;
padding-bottom: 133px;
}
.contact-us .contact-left{
background-color: var(--c-blue-200);
padding-top: 110px;
padding-left: 300px;
width: 120%;
position: relative;
z-index: 9;
}
.contact-us .contact-left::before{
position: absolute;
content: '';
background-image: url(../images/contact-bg-pattern.png); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: -1;
}
.contact-us .contact-left .custom-heading h3{
color: var(--c-white);
margin-bottom: 98px;
padding-right: 270px;
}
.contact-us .contact-left .contact-left-bottom{
background-color: var(--c-secondary);
padding: 43px 0 15px 46px;
}
.contact-us .contact-left .contact-left-bottom ul li{
padding-bottom: 32px;
}
.contact-us .contact-left .contact-left-bottom ul li h4{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 16px;
color: var(--c-primary);
padding-bottom: 4px;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon,.contact-us .contact-left .contact-left-bottom ul li .media .media-body{
display: inline-block;
vertical-align: middle;
}
.contact-us .contact-left .contact-left-bottom ul li .media .contact-icon{
background-color: var(--c-primary);
color: var(--c-white);
font-size: 25px;
width: 56px;
height: 56px;
margin-right: 20px;
display: inline-flex;
align-items: center;
justify-content: center;
}
.contact-us .contact-left .contact-left-bottom ul li p,.contact-us .contact-left .contact-left-bottom ul li a{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 24px;
color: var(--c-white);
line-height: 34px;
}
.contact-us .contact-right{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 100px 115px;
position: absolute;
right: 15px;
top: 0;
width: 850px;
z-index: 99;
}
.contact-us .contact-right form .form-group .form-wrap input,.contact-us .contact-right form .form-group .form-wrap textarea{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 15px;
color: var(--c-primary);
padding: 20px;
margin-bottom: 14px;
border: none;
border-radius: 0;
}
.contact-us .contact-right form .form-group .form-wrap textarea{
height:170px ;
}
.contact-us .contact-right form .form-btn .custom-button{
font-weight: 400;
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
margin-top: 18px;
background-image: url(../images/arrow.png);
background-position: 94%;
background-repeat: no-repeat;
padding-right: 38px;
}
.contact-us .contact-right form .form-btn .custom-button:hover{
color: var(--c-primary);
background-color: transparent;
border: 2px solid var(--c-primary);
}
/* Footer Start */
.footer-wrap{
background-color: var(--c-primary);
padding-top: 58px;
}
.footer-wrap .column-wrap .column-heading h2{
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 700;
color: var(--c-white);
}
.footer-wrap .column-wrap .column-bottom-text{
margin-top: 45px;
}
.footer-wrap .column-col:nth-child(1) .column-wrap{
padding: 39px 90px 39px 0px;
}
.footer-wrap  .column-col:nth-child(2) .column-wrap{
padding: 39px 0px 39px 65px;
}
.footer-wrap  .column-col:nth-child(3) .column-wrap{
padding: 39px 0 39px 70px;
}
.footer-wrap .column-wrap .column-bottom-text p,.footer-wrap .column-wrap .column-bottom-text p a,.footer-wrap .column-wrap .column-bottom-text ul li a,.footer-wrap .column-wrap .column-bottom-text ul li,
.footer-wrap .footer-bottom-wrap .footer-bottom-text p{
font-family: var(--ff-primary);
font-size: 16px;
line-height: 26px;
font-weight: 300;
color: var(--c-white-100);
}
.footer-wrap .column-wrap .column-bottom-text p a:hover,.footer-wrap .column-wrap .column-bottom-text ul li a:hover{
color: var(--c-secondary);
}
.footer-wrap  .column-col:nth-child(2) .column-wrap .column-bottom-text p{
padding-bottom: 12px;
} 
.footer-wrap .column-wrap .column-bottom-text ul li{
padding-bottom: 18px;
position: relative;
padding-left: 29px;
}
.footer-wrap .column-wrap .column-bottom-text li span {
position: absolute;
left: 0;
display: inline-block;
color: var(--c-secondary);
font-size: 20px;
top: 3px;
}
.footer-wrap .column-col:not(:last-child) .column-wrap{
border-right: 1px solid var(--c-blue-200);
}
.footer-wrap .footer-bottom-wrap{
border-top: 1px solid var(--c-blue-200);
background-color: var(--c-primary);
text-align: center;
padding: 21px 0;
margin-top: 35px;
}
/* +++++++Contact-start++++++++ */
.address-section{
background-color: var(--c-white-100);
padding: 80px 0;
}
.address-section .left-part{
text-align: left;
}
.address-section .left-part .card-wrap .card{
height: 160px;
width: 270px;
padding: 20px;
background-color: var(--c-secondary);
text-align: center;    
box-shadow: 8px 8px var(--c-secondary-text);
border: 0;
border-radius: 10px;
}
.address-section .left-part .card-wrap .card span i{
color: var(--c-primary);
font-size: 40px;
}
.address-section .left-part .card-wrap .card .card-body{
padding: 12px 0 0;
margin: 0;
}
.address-section .custom-heading{
margin-bottom: 50px;
text-align: center;
}
.address-section .custom-heading h3{
margin-bottom: 13px;
}
.address-section .custom-heading p{
font-family: var(--ff-primary);
font-size: 18px;
font-weight: 400;
color: var(--c-secondary-text);
line-height: 25px;
}
.address-section .left-part .card-wrap .card .card-body .card-title{
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 700;
color: var(--c-primary-text);
}
.address-section .left-part .card-wrap .card .card-body a,.address-section .left-part .card-wrap .card .card-body p{
font-size: 13px;
font-family: var(--ff-primary);
font-weight: 400;
color: var(--c-secondary-text);
line-height: 20px;
}
.address-section .img-wrap img{
width: 100%;
object-fit: cover;
height: 350px;
}
.map-section{
padding-bottom: 30px;
}
.map-section .map-wrap iframe{
width: 100%;
height: 430px;
}
.map-section .custom-heading {
text-align: center;
}
.contact-form-section{
background-image: url(../images/contact-bg.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.contact-form-section .contact-from-right-img-wrap img {
object-fit: cover;
height: 424px;
width: 100%;
}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap input,.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea{
font-size: 13px;
padding: 14px;
margin-bottom: 10px;
}
.contact-form-section .contact-form-sec-left form .form-group .form-wrap textarea{
height: 150px;
}
.contact-form-section .contact-form-sec-left form .form-group .form-btn .custom-button{
margin-top: 15px;
}
.footer-wrap [class*="col-"]:nth-child(2) .column-wrap li {
padding-left: 0;
}
.footer-wrap [class*="col-"]:nth-child(2) .column-wrap .nav-link {
padding: 0;
}

/*about-start*/
.about-specialist{
padding: 140px 0 115px 0;
position: relative;
overflow: hidden;
}
.about-specialist::before {
position: absolute;
content: '';
background-color: #f5f6fa;
width: 100%;
height: 513px;
z-index: -1;
left: 0;
bottom: 0;
}

.about-specialist .specialist-content-wrap .custom-paragraph p:nth-child(2) {
padding: 60px 0 40px 0;
}
.about-specialist .specialist-content-wrap {
padding-right: 104px;
}

.about-specialist .custom-button-wrap {
display: inline-flex;
padding-top: 55px;
}

.about-specialist .about-button-lst .custom-button{
background-color: var(--c-secondary);
color: var(--c-primary);
border: 2px solid var(--c-secondary);
}

.about-specialist .about-button-lst .custom-button:hover{
background-color: var(--c-white);
color: var(--c-secondary);
}

.about-specialist .about-button-lst {
padding-left: 20px;
}

.about-specialist .specialist-image-wrap img {
width: 100%;
}
.specialist-image-wrap {
position: absolute;
top: 0;
right: 0;
}

/*about-end*/

/*atlanta-start*/

.atlanta {
text-align: center;
}
.atlanta .custom-paragraph p{
padding: 0 126px 60px 126px;
}
.atlanta .atlanta-box {
position: relative;
box-shadow: inset 1px 1px 40px 40px #f7f7f7,1px 1px 40px 20px #ececec;
z-index: 1;
padding: 70px;
}
.atlanta .atlanta-box::after {
position: absolute;
content: '';
border: 2px solid var(--c-primary);
z-index: -1;
width: 90%;
height: 90%;
left: 25px;
top: 24px;
}
.atlanta .atlanta-sub-heading h5{
font-size: 23px;
font-weight: 400;
color: var(--c-primary-text);
line-height: 36px;
margin-bottom: 0;
font-family: var(--ff-primary);
}
.atlanta .atlanta-heading h3{
font-size: 53px;
font-weight: 900;
color: var(--c-secondary);
line-height: 36px;
padding: 35px 0 40px 0;
margin-bottom: 0;
font-family: var(--ff-primary);
}

.atlanta .atlanta-paragraph p{
font-size: 18px;
color: var(--c-secondary-text);
line-height: 34px;
font-family: var(--ff-primary);
font-weight: 400;
}

.atlanta .custom-button{
background-color: var(--c-secondary);
color: var(--c-primary);
padding: 28px 37px;
border: 2px solid var(--c-secondary);
margin-top: 35px;
}
.atlanta .custom-button:hover{
color: var(--c-secondary);
background-color: var(--c-white);
}
.atlanta .container-fluid{
max-width: 1642px;
}
/*atlanta-end*/
/*testimonial-start*/
.testimonial {
text-align: center;
}

.testimonial.custom-pad {
padding: 0 0 135px 0;
}
.testimonial .container-fluid{
max-width: 1642px;
}
.testimonial .custom-heading h3{
line-height: 64px;
margin-bottom: 75px;
}
.testimonial .owl-dots {
text-align: center;
padding-top: 50px;
}
.testimonial .owl-dots button.owl-dot {
width: 8px;
height: 8px;
border-radius: 50%;
display: inline-block;
background: var(--c-primary-text);
margin: 0 6px;
}
.testimonial .owl-dots button.owl-dot.active {
background-color: var(--c-secondary);
}
.testimonial .owl-dots button.owl-dot:focus {
outline: none;
}
.testimonial .owl-nav{display: none;}
.testimonial .owl-nav {
position: absolute;
top: 100%;
left: 0;
right: 0;
}
.testimonial .owl-nav .owl-prev span{
color: var(--c-secondary);
font-size: 28px;
background-color: var(--c-primary-text);
border-radius: 30px 0 0 30px;
width: 28px;
display: block;
height: 40px;
}
.testimonial .owl-nav .owl-next span {
color: var(--c-secondary);
font-size: 28px;
border-radius: 0 30px 30px 0;
background-color: var(--c-primary-text);
width: 28px;
display: block;
height: 40px;
}
.testimonial .owl-nav .owl-prev span:hover{
color:var(--c-white);
}
.testimonial .owl-nav .owl-next span:hover{
color:var(--c-white);
}
.testimonial .owl-nav .owl-prev {
margin-right: 5px;
}
.testimonial .owl-nav .owl-next {
margin-left: 5px;
}
/*testimonial-end*/
/*thank-you-start*/
.thank-you .custom-button{margin-top: 50px;}
.thank-you .thanks-img img {box-shadow: 1px 1px 40px 20px #ececec;}
/*thank-you-end*/
/* BEFORE AFTER SECTION */
.custom-bef-aft {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.custom-bef-aft-content .container {
  max-width: 1642px;
}
.cus-hide {
  display: none !important;
}
.custom-bef-aft-content .gallery-img-box {
  background-color: var(--c-black-700);
  text-align: center;
  height: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-a-btn {
  background-color: var(--c-white);
  color: var(--c-primary);
  border-color: var(--c-white);
}
.gallery-a-btn:hover {
  color: var(--c-primary);
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
}
.gal-img-btn-yn .custom-button:hover {
  border-color: var(--c-white);
}
.custom-bef-aft-content [class*="col-"]:nth-child(2n) {
  padding: 30px 15px 30px 30px;
}
.custom-bef-aft-content [class*="col-"]:nth-child(2n+1) {
  padding: 30px 30px 30px 15px;
}
.gallery-image img {
  height: 356px;
  object-fit: cover;
  width: 100%;
}
.gal-img-heading {
  color: var(--c-secondary);
}
.yes-no .gal-img-heading {
  color: var(--c-secondary-text);
}
.gal-img-heading h5 {
  font-family: var(--ff-primary);
  font-size: 26px;
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 30px;
}
.gal-age-text p {
  color: var(--c-white);
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.custom-bef-aft-button .custom-button {
  background-color: var(--c-secondary);
  color: var(--c-primary);
  border-color: var(--c-secondary);
}
.custom-bef-aft-button .custom-button:hover {
  background-color: transparent;
  color: var(--c-secondary);
}
.custom-bef-aft-button {
  margin-top: 70px;
}
/* BEFORE AFTER SECTION */
/* INNER BEFORE & AFTER PAGE */
.custom-bef-aft-inner-content .container {
  max-width: 1440px;
}
/* INNER BEFORE & AFTER PAGE */